<head>
    <link rel="stylesheet" href="header.css">
</head>
<header class="header">
    <div class="burgerimage"><img class="burgermenu" src="/assets/burger.png"></div>

    <div class="dropmenu">
        <nav>
            <ul>
                <li>Our Services</li>
                <li>Our Band</li>
                <li>Get in Touch</li>
                <li>Home</li>
                <li>For Fans</li>
            </ul>
        </nav>
    </div>

    <nav>
        <ul>
            <div class="leftlinks">
                <li><a href="/ourband">our band</a></li>
                <li><a href="/realourservices">our services</a></li>
            </div>
            <div class="middlelinks">
                <li><a href="/" class="logo-a"><img class="logo" src="/assets/GreenRoom_logo 1.png"></img></a></li>
            </div>
            <div class="rightlinks">
                <li><a href="/getintouch">get in touch</a></li>
            </div>
        </ul>
    </nav>
</header>