<head>
    <link rel="stylesheet" href="header.css">
</head>
<header class="header">
    <nav>
        <ul>
            <div class="leftlinks">
                <li><a href="/ourband">our band</a></li>
                <li><a href="/realourservices">our services</a></li>
            </div>
            <div class="middlelinks">
                <li><a href="/" class="logo-a"><img class="logo" src="/assets/GreenRoom_logo 1.png"></img></a></li>
            </div>
            <div class="rightlinks">
                <li><a href="/getintouch">get in touch</a></li>
            </div>
        </ul>
    </nav>
</header>