<head>
    <link rel="stylesheet" href="header.css">
</head>
<header class="header">
    
    <section class="top-nav">
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
        <ul class="menu">
          <li><a href="/ourband">our band</a></li>
          <li><a href="/realourservices">our services</a></li>
          <li><a href="/getintouch">get in touch</a></li>
          <li><a href="/ourservices">for bands</a></li>
          <li><a href="/forfans">for fans</a></li>
          <li><a href="/">home</a></li>
        </ul>
      </section>

    <nav>
        <ul>
            <div class="leftlinks">
                <li><a href="/ourband">our band</a></li>
                <li class="ourservices"><a href="/realourservices">our services</a></li>
            </div>
            <div class="middlelinks">
                <li><a href="/" class="logo-a"><img class="logo" src="/assets/GreenRoom_logo 1.png"></img></a></li>
            </div>
            <div class="rightlinks">
                <li><a href="/getintouch">get in touch</a></li>
            </div>
        </ul>
    </nav>
</header>