<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get In Touch</title>
        <link rel="stylesheet" href="getintouch.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <div class="everything">
        <%- include('partials/header') %>
    <div class="row">
        <div class="col-xs-12">
            <h1>get in touch</h1>

            <div class="touch" data-tf-live="01H6P8JS842RP2D80CBCKX9BQ4"></div><script src="//embed.typeform.com/next/embed.js"></script>

        </div>
    </div>
    <%- include('partials/footer') %>
</div>
</html>