<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get In Touch</title>
        <link rel="stylesheet" href="getintouch.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<body>
    <%- include('partials/header') %>
    
    <h1>get in touch</h1>

    <div class="touch" data-tf-widget="fFUruKdK" data-tf-opacity="100" data-tf-iframe-props="Lead Generation Form for Bands and Touring Artists" data-tf-transitive-search-params data-tf-medium="snippet" style="width:75%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>

    <%- include('partials/footer') %>
</body>
</html>