<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Impressum</title>
        <link rel="stylesheet" href="impressum.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<div class="everything">
    <%- include('partials/header') %>
    <article>
        <h1>Impressum</h1>
            <p>Green Room Travel GmbH<br>
                c/o Jacobi Legal<br>
                Puccinstraße 52<br>
                13088 Berlin<br>
                Germany
            </p>

        <p>Cell: +49 157 308 608 42<br>
            Landline: +49 30 41 47 98 61<br>
            Email: jk@greenroom.travel
        </p>

        <p>Managing Director: Jeffrey Kempa</p>

        <p>Register Court: Amtsgericht Charlottenburg<br>
            IATA Accreditation 23287972 <br>
            Register Number: HRB 250032 B<br>
            Tax ID: 137/316/50713<br>
            VAT: DE359100896
        </p>
    </article>

    <%- include('partials/footer') %>
</div>
</html>