<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Green Room Travel</title>
        <link rel="stylesheet" href="main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="container-fluid everything">
    <img class="background-guitar" src="/assets/backgroundguitaragain.png"></img>
    <div class="container-fluid">
<script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"Green Room Travel","website_privacy_policy_url":"https://greenroom.travel/privacy"});
});
</script>

    <%- include('partials/header') %>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 buttons">
                <button class="btn btn-lg our-services"><a href="/ourservices">FOR BANDS</a></button>
                <button class="btn btn-lg for-fans"><a href="/forfans">FOR FANS</a></button>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <div class="container-fluid main-text">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 text-center">
                <p>Green Room Travel is an independent, full-service, IATA-accredited travel agency designed to bring professional travel planning to the creative community.</p>
                <p>We work with performers, tour managers, and crew members to plan efficient and cost-effective concert tours and other creative travel.</p>
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row text-center bottom-text">
            <div class="col-xs-12">
            <h1>Planning tours is complicated.</h1>
            <h1>We make it easy.</h1>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</div>
</html>