<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Green Room Travel</title>
        <link rel="stylesheet" href="main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<body>
    <%- include('partials/header') %>

    <img class="backgroundguitar" src="/assets/backgroundguitaragain.png"></img>
    <article class="body">
        <span class="forlinks">
            <span class="forbands"><a href="/ourservices" class="bands">FOR BANDS</a></span>
            <span class="forfans"><a href="/forfans" class="fans">FOR FANS</a></span>
        </span>
    <div class="infos">
        <span class="maininfo">
            <p>Green Room Travel is an independent, full-service, IATA-accredited travel agency designed to bring professional travel planning to the creative community.</p>
            <p class="work">We work with performers, tour managers, and crew members to plan efficient and cost-effective concert tours and other creative travel.</p>
            <p class="door">We plan door-to-door experiences down to the finest detail, whether you are a band headed out on tour or a fan ready to enjoy the show.</p>
            <p class="receive">Receive daily updates on where to be when and how to get there through full integration with MasterTour</p>
            <p class="detail">We tailor the details of your journey based on your personal preferences.</p>
            <p class="care">We take care of the logistics, so you can focus on doing what you do best.</p>
        </span>
        <span class="bodyh1">
            <h1 class="lefth1">Planning tours is complicated.</h1>
            <h1 class="righth1">We make it easy.</h1>
        </span>
    </div>
    <p class="receive">
        
    </p>
    </article>

    <%- include('partials/footer') %>
</body>
</html>