<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Band</title>
        <link rel="stylesheet" href="ourband.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>

    <img class="background-guitar" src="/assets/ourbandguitar.png"></img>
    <div class="container-fluid">
    <div class="row text-center">
        <div class="col-xs-12">
            <h1 class="">our band</h1>
            <span class="name-kempa card">
                <h2><img src="assets/kempadot2.png">Jeff Kempa</h2>
                <p class="bottom-margin-p">founder, IATA certified travel agent</p>
                <span class="information">
                    <span>Jeff Kempa, Founder & IATA Certified Travel Agent</span>
                    <p>Jeff is an avid music lover and supporter. After speaking with some of his favorite bands about their touring experiences, he saw the opportunity to create a service combining two of his passions - music and travel. After 25 years working in investment banking in New York City, Jeff opened Green Room Travel with the goal of providing professional travel planning to the artistic community. He is originally from Washington State but now lives in Berlin, Germany with his wife, Danielle, and their dog, Aya.
                    </p>
                </span>
            </span>
            <span class="name-pete card">
                <h2><img src="assets/sheadot2.png">Pete O'Shea</h2>
                <p class="bottom-margin-p">business development</p>
                <span class="information">
                    <span>Pete O'Shea, Business Development</span>
                    <p>Currently working in business development at Riot Games, Pete is also the drummer for Irish bands <a href="http://flapes.bandcamp.com" target="_blank">Fight Like Apes</a> and <a href="http://socow.bandcamp.com" target="_blank">So Cow</a>. He has been instrumental in establishing Green Room and continues to consult on our business strategy.  As you might guess, he loves music and video games. Pete lives in Dublin, Ireland.</p>
                </span>
            </span>
            <span class="name-jesse card">
                <h2><img src="assets/ledouxdot2.png">Jesse LeDoux</h2>
                <p class="bottom-margin-p">art director</p>
                <span class="information">
                    <span>Jesse LeDoux, Art Director</span>
                    <p>Formerly an art director for SubPop records, Jesse has designed album covers and poster artwork for musicians around the world, including the Shins (Grammy nominee `Best album packaging´, Chutes Too Narrow), Iron and Wine, and Death Cab for Cutie, before leaving to focus on client-based and personal work through his company, <a href="http://ledouxville.com" target="_blank">LeDouxville</a>. We´re thankful to Jesse for designing our Green Room logo! He currently lives and works in Seattle, WA. </p>
                </span>
            </span>
            <span class="whitney card">
                <h2>Whitney Cover<img src="assets/whitneydot.png"></h2>
                <p class="bottom-margin-p">user experience</p>
                <span class="information-right">
                    <span>Whitney Cover, User Experience</span>
                    <p>A performer and designer, Whitney heads up the research and design of our client experiences.  Whitney has toured internationally as a dancer and performer and knows first-hand the ups and downs of being a touring artist. She is the founder of <a href="http://www.shiftwithintention.com" target="_blank">.shift</a>, a learning community for embodied education, research, performance, and experiences as well as a freelance artist based in Berlin, Germany.</p>
                </span>
            </span>
            <span class="name-jeff card">
                <h2>Jeff Mueller<img src="assets/muellerdot2.png"></h2>
                <p class="bottom-margin-p">artist tour logistics</p>
                <span class="information-right">
                    <span>Jeff Mueller, Artist Tour Logistics</span>
                    <p>Jeff is a musician and designer with over 30 years of experience planning tours for his bands <a href="http://juneof44.bandcamp.com" target="_blank">June of 44</a>, <a href="http://rodan93.bandcamp.com" target="_blank">Rodan</a> and <a href="http://shippingnews.bandcamp.com" target="_blank">Shipping News</a>.  He lives in New Haven, Connecticut with his family and runs <a href="http://dexterityletterpress.com" target="_blank">Dexterity Letterpress</a> and is available to our clients for printing and design needs. </p>
                </span>
            </span>
        </div>
    </div>
    </div>

    <%- include('partials/footer') %>
</div>
</html>