<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
    <div class="container-fluid text-center">
            <h1>clients on tour</h1>
            <div class="tables table-responsive">
                <div class="speedy">
                <button class="band speedy">Speedy Ortiz</button>
                <table class="table table-responsive speedy-table">
                    <thead>
                        <tr>
                            <td scope="col" class="col-md-3">Date</td>
                            <td scope="col" class="col-md-3">City</td>
                            <td scope="col" class="col-md-3">Venue</td>
                            <td scope="col" class="col-md-3">Tickets</td>
                        </tr>
                    </thead>
                <tbody>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 16, 2024</td>
                            <td scope="col" class="col-sm-3">Manchester, UK</td>
                            <td scope="col" class="col-sm-3">Night & Day Cafe</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/speedy-ortiz/night-day/2759120?aff=id1bandsintown" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 17, 2024</td>
                            <td scope="col" class="col-sm-3">Leeds, UK</td>
                            <td scope="col" class="col-sm-3">Headrow House</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/speedy-ortiz-headrow-house-tickets/13567188?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=0%3ApUwhTO7xyPTleRf1R0r2PGUkHzAGV9w1R23Y0" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 18, 2024</td>
                            <td scope="col" class="col-sm-3">Glasgow, UK</td>
                            <td scope="col" class="col-sm-3">The Hug and Pint</td>
                            <td scope="col" class="col-sm-3"><a href="https://432p.seetickets.com/event/speedy-ortiz/the-hug-and-pint/2757523?aff=id1bandsintown&aff=id1bandsintown" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 19, 2024</td>
                            <td scope="col" class="col-sm-3">Birmingham, UK</td>
                            <td scope="col" class="col-sm-3">The Sunflower Lounge</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/speedy-ortiz-the-sunflower-lounge-tickets/13568368?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=0%3ApUwhTO7xyPTleRf1R0r2PGUkHzAGXVw1R23Y0" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 21, 2024</td>
                            <td scope="col" class="col-sm-3">Southampton, UK</td>
                            <td scope="col" class="col-sm-3">Joiners</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/speedy-ortiz-the-joiners-tickets/13631058?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=0%3ApUwhTO7xyPTleRf1R0r2PGUkHzAGXhw1R23Y0" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 22, 2024</td>
                            <td scope="col" class="col-sm-3">Brighton, UK</td>
                            <td scope="col" class="col-sm-3">Green Door Store</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/speedy-ortiz-green-door-store-tickets/13567548?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=0%3ApUwhTO7xyPTleRf1R0r2PGUkHzAGXlw1R23Y0" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 23, 2024</td>
                            <td scope="col" class="col-sm-3">Bristol, UK</td>
                            <td scope="col" class="col-sm-3">Rough Trade Bristol</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/speedy-ortiz/rough-trade-records/2758845?aff=id1bandsintown" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 24, 2024</td>
                            <td scope="col" class="col-sm-3">London, UK</td>
                            <td scope="col" class="col-sm-3">Moth Club</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/speedy-ortiz-moth-club-tickets/13567228?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=0%3ApUwhTO7xyPTleRf1R0r2PGUkHzAGXJw1R23Y0" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 26, 2024</td>
                            <td scope="col" class="col-sm-3">Paris, FR</td>
                            <td scope="col" class="col-sm-3">Supersonic</td>
                            <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/supersonic/event/d2k8g-speedy-ortiz-clmence-violence-26th-feb-supersonic-paris-tickets?dice_id=1514153&dice_channel=web&dice_tags=organic&dice_campaign=Supersonic&dice_feature=marketing&pid=530cb286&_branch_match_id=1278692689926201840&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1c83MDc0NTE0M0gyMrcvyEyxNTU2SE4ysjADAIthZsIuAAAA" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 28, 2024</td>
                            <td scope="col" class="col-sm-3">Antwerp, BE</td>
                            <td scope="col" class="col-sm-3">Muziekcentrum Trix</td>
                            <td scope="col" class="col-sm-3"><a href="https://apps.ticketmatic.com/widgets/trix/flow/tickets?event=751296283728&l=en#!/addtickets" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 29, 2024</td>
                            <td scope="col" class="col-sm-3">Amsterdam, NL</td>
                            <td scope="col" class="col-sm-3">Doka</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.paradiso.nl/programma/speedy-ortiz/1321861" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 1, 2024</td>
                            <td scope="col" class="col-sm-3">Rotterdam, NL</td>
                            <td scope="col" class="col-sm-3">Rotown Rotterdam</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.rotown.nl/agenda/speedy-ortiz/" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 2, 2024</td>
                            <td scope="col" class="col-sm-3">Groningen, NL</td>
                            <td scope="col" class="col-sm-3">Vera</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.vera-groningen.nl/events/speedy-ortiz-2024/" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 4, 2024</td>
                            <td scope="col" class="col-sm-3">Cologne, DE</td>
                            <td scope="col" class="col-sm-3">Bumann & Sohn</td>
                            <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/5l3xy-speedy-ortiz-4th-mar-bumann-sohn-kln-tickets?pid=530cb286&_branch_match_id=1278692689926201840&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fe3SDS1sExJMklNtrQvyEyxNTU2SE4ysjADABfxWIYuAAAA" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 5, 2024</td>
                            <td scope="col" class="col-sm-3">Hamburg, DE</td>
                            <td scope="col" class="col-sm-3">Hafenklang</td>
                            <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/xd93e-speedy-ortiz-rabbit-rabbit-tour-tour-2024-5th-mar-hafenklang-hamburg-tickets?pid=530cb286&_branch_match_id=1278692689926201840&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fc3Nkw1MzI1N0u0SLEvyEyxNTU2SE4ysjADABw6GrMuAAAA" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 6, 2024</td>
                            <td scope="col" class="col-sm-3">Copenhagen, DK</td>
                            <td scope="col" class="col-sm-3">Musikcafeen</td>
                            <td scope="col" class="col-sm-3"><a href="https://billetto.dk/e/speedy-ortiz-us-huset-billetter-868532" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 7, 2024</td>
                            <td scope="col" class="col-sm-3">Berlin, DE</td>
                            <td scope="col" class="col-sm-3">Urban Spree</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/noapp/event/17575163/?affiliate=BNO&affiliate=BNO&utm_source=awin&utm_medium=affiliate&utm_campaign=97249&awc=11388_1706102331_cecf1f161709bf028bb84a0dcb6c3841" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 9, 2024</td>
                            <td scope="col" class="col-sm-3">Warsaw, PL</td>
                            <td scope="col" class="col-sm-3">VooDoo Club</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.pl/event/speedy-ortiz-rabbit-rabbit-tour-tour-2024-bilety/32099?clickId=0%3ApUwhTO7xyPTleRf1R0r2PGUkHzAD2xw1R23Y0&irgwc=1&utm_source=Bandsintown&utm_medium=affiliate&utm_campaign=219208&utm_content=1212555_8185" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 10, 2024</td>
                            <td scope="col" class="col-sm-3">Prague, CZ</td>
                            <td scope="col" class="col-sm-3">Cafe V Lese</td>
                            <td scope="col" class="col-sm-3"><a href="https://goout.net/cs/speedy-ortiz/szknujw/" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 12, 2024</td>
                            <td scope="col" class="col-sm-3">Budapest, HU</td>
                            <td scope="col" class="col-sm-3">Durer Kert</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.livenation.hu/show/1437222/speedy-ortiz/budapest/2024-03-12/hu" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 13, 2024</td>
                            <td scope="col" class="col-sm-3">Vienna, AT</td>
                            <td scope="col" class="col-sm-3">Fluc und Fluc Wanne</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.at/event/speedy-ortiz-tickets/20937?clickId=0%3ApUwhTO7xyPTleRf1R0r2PGUkHzAD2lw1R23Y0&irgwc=1&utm_source=Bandsintown&utm_medium=affiliate&utm_campaign=219208&utm_content=1211826_8116" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 14, 2024</td>
                            <td scope="col" class="col-sm-3">Munich, DE</td>
                            <td scope="col" class="col-sm-3">Milla</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/noapp/event/17576664/?affiliate=BNO&affiliate=BNO&utm_source=awin&utm_medium=affiliate&utm_campaign=97249&awc=11388_1706102339_b59cf100357e6462476d694092f72bf4" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 16, 2024</td>
                            <td scope="col" class="col-sm-3">Torino, IT</td>
                            <td scope="col" class="col-sm-3">Spazio 211</td>
                            <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/567d8-speedy-ortiz-unica-data-in-italia-16th-mar-spazio211-torino-tickets?pid=530cb286&_branch_match_id=1278692689926201840&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1XcyMTMwSDNPNDFLNbYvyEyxNTU2SE4ysjADANRmc%2FwuAAAA" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 17, 2024</td>
                            <td scope="col" class="col-sm-3">Luzern, CH</td>
                            <td scope="col" class="col-sm-3">Sedel Club</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/ch/event/speedy-ortiz/sedel/2831803?aff=aw&sv1=affiliate&sv_campaign_id=97249&awc=23183_1706102341_5ae955b7aaa6536308c2ee685ba3a8ac&utm_source=awin&utm_medium=affiliation&utm_campaign=Bandsintown" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 20, 2024</td>
                            <td scope="col" class="col-sm-3">Madrid, ES</td>
                            <td scope="col" class="col-sm-3">Wurlitzer Ballroom</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.wegow.com/es/conciertos/concierto-de-speedy-ortiz-en-madrid" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td scope="col" class="col-sm-3">Mar 21, 2024</td>
                            <td scope="col" class="col-sm-3">Valencia, ES</td>
                            <td scope="col" class="col-sm-3">Loco Club</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.notikumi.com/channel/tranquilo-musica/2024/3/21/speedy-ortiz-en-valencia" target="_blank">Link</a></td>
                        </tr>
                </tbody>
                </table>
            </div>

                <div class="john">
                <button class="band john">John</button>
                <table class="table table-responsive john-table">
                    <thead>
                        <tr>
                            <td scope="col" class="col-md-3">Date</td>
                            <td scope="col" class="col-md-3">City</td>
                            <td scope="col" class="col-md-3">Venue</td>
                            <td scope="col" class="col-md-3">Tickets</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col" class="col-sm-3">Feb 9, 2024</td>
                            <td scope="col" class="col-sm-3">Bournemouth, UK</td>
                            <td scope="col" class="col-sm-3">Bear Cave</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/john/bear-cave/2750965?aff=id1bandsintown" target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Feb 10, 2024</td>
                            <td scope="col" class="col-sm-3">Milton Keynes, UK</td>
                            <td scope="col" class="col-sm-3">The Craufurd Arms</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/john/the-craufurd-arms/2751303?aff=id1bandsintown" target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Feb 16, 2024</td>
                            <td scope="col" class="col-sm-3">Leeds, UK</td>
                            <td scope="col" class="col-sm-3">Brudenell Social Club</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/john/brudenell-social-club/2750922?aff=id1bandsintown" target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Feb 17, 2024</td>
                            <td scope="col" class="col-sm-3">Stowmarket, UK</td>
                            <td scope="col" class="col-sm-3">John Peel Centre for Creative Arts</td>
                            <td scope="col" class="col-sm-3"><a href="https://johnpeelcentre.savoysystems.co.uk/JohnPeelCentre.dll/TSelectItems.waSelectItemsPrompt.TcsWebMenuItem_443.TcsWebTab_444.TcsPerformance_143486.TcsSection_756"target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Feb 23, 2024</td>
                            <td scope="col" class="col-sm-3">Brighton, UK</td>
                            <td scope="col" class="col-sm-3">Concorde 2</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/john-concorde-2-tickets/13520738?irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkHzp1RFiRLnXg0"target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Feb 24, 2024</td>
                            <td scope="col" class="col-sm-3">Nottingham, UK</td>
                            <td scope="col" class="col-sm-3">Bodega</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/john-the-bodega-tickets/13520638?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkHzp1Q9iRLnXg0"target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Feb 29, 2024</td>
                            <td scope="col" class="col-sm-3">London, UK</td>
                            <td scope="col" class="col-sm-3">Scala</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/john-scala-tickets/13520748?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkHzp1SZiRLnXg0"target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Mar 1, 2024</td>
                            <td scope="col" class="col-sm-3">Reading, UK</td>
                            <td scope="col" class="col-sm-3">The Face Bar</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/john/the-face-bar/2751091?aff=id1bandsintown" target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Mar 8, 2024</td>
                            <td scope="col" class="col-sm-3">Hull, UK</td>
                            <td scope="col" class="col-sm-3">The New Adelphi Club</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.theadelphi.com/events/john-support-2/" target="_blank">Link</a></td>
                            </tr>
                            <tr>
                            <td scope="col" class="col-sm-3">Mar 9, 2024</td>
                            <td scope="col" class="col-sm-3">Newcastle Upon Tyne, UK</td>
                            <td scope="col" class="col-sm-3">Cluny 2</td>
                            <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/john-cluny-2-tickets/13256763?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkHzpyRFiRLnXg0"target="_blank">Link</a></td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
</html>