<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
        <div class="container-fluid text-center">
            <h1>clients on tour</h1>
                <div class="tables table-responsive" style="border: none;">
                    
                    <div class="chastity">
                        <button class="band chastity">Chastity Belt</button>
                        <table class="table table-responsive chastity-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Asheville, NC</td>
                                    <td scope="col" class="col-sm-3">Eulogy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/xo25m-chastity-belt-3rd-may-eulogy-asheville-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Washington, DC</td>
                                    <td scope="col" class="col-sm-3">Black Cat</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/96226567/chastity-belt-at-black-cat" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 5, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">First Unitarian Church</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/55254723/chastity-beltwith-charlotte-cornfield-philadelphia-the-first-unitarian-church" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Warsaw</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/chastity-belt-brooklyn-new-york-05-07-2024/event/00005F6ADC6E6734?_gl=1*dn1zw6*_ga*MTI4OTEwODkxLjE3MDk2NzE2Njk.*_ga_1NVR8TVKGT*MTcwOTY3MTY2OC4xLjEuMTcwOTY3MTY3My4wLjAuMA.." target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Cambridge, MA</td>
                                    <td scope="col" class="col-sm-3">The Sinclair</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/511301/chastity-belt-tickets?skin=sinclair" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Albany, NY</td>
                                    <td scope="col" class="col-sm-3">Lark Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/chastity-belt-with-special-guest-charlotte-cornfield-tickets-754919373167" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 10, 2024</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">The Great Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/6ar23-chastity-belt-10th-may-the-great-hall-toronto-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Detroit, MI</td>
                                    <td scope="col" class="col-sm-3">El Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/xopg3-chastity-belt-11th-may-el-club-detroit-detroit-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Lincoln Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://lh-st.com/shows/05-12-2024-chastity-belt/" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Wien, AT</td>
                                    <td scope="col" class="col-sm-3">Arena Wien</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/noapp/event/17971088/?affiliate=BNO&affiliate=BNO&utm_source=awin&utm_medium=affiliate&utm_campaign=97249&awc=11388_1709670631_a512c75f7b164454ad21790584dfd15c" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Leipzig, DE</td>
                                    <td scope="col" class="col-sm-3">Conne Island</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixforgigs.com/Event/53014" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">May 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Berlin, DE</td>
                                    <td scope="col" class="col-sm-3">Frannz Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/noapp/event/18018817/?affiliate=BNO&affiliate=BNO&utm_source=awin&utm_medium=affiliate&utm_campaign=97249&awc=11388_1709670576_ece3547629aa4e8d07c0dc0848766b0c" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Neustrelitz, DE</td>
                                    <td scope="col" class="col-sm-3">Immergut Festival 2024</td>
                                    <td scope="col" class="col-sm-3"><a href="https://tickets.hoemepage.com/event/immergut-festival-2024-neu-x4ytgt" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Köln, DE</td>
                                    <td scope="col" class="col-sm-3">Bumann & SOHN</td>
                                    <td scope="col" class="col-sm-3"><a href="https://popanz.ticket.io/9t6a9lr9/" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Luxembourg, LU</td>
                                    <td scope="col" class="col-sm-3">Rotondes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://apps.ticketmatic.com/widgets/cr/flow/rotondes?event=774460508901&l=en#!/addtickets" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 5, 2024</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">La Fleche d’Or</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/68q3b-chastity-belt-5th-jun-la-flche-dor-paris-tickets?lng=en" target="_blank">Link</a></td>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Bruxelles, BE</td>
                                    <td scope="col" class="col-sm-3">Le Botanique</td>
                                    <td scope="col" class="col-sm-3"><a href="https://shop.botanique.be/widgets/botanique/flow/logo?event=667618454674&l=en#!/addtickets" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Hilvarenbeek, NL</td>
                                    <td scope="col" class="col-sm-3">Best Kept Secret 2024</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bestkeptsecret.nl/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">The Hope & Ruin</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/chastity-belt/the-hope-ruin/2839697?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">Brudenell Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-brudenell-social-club-tickets/13291433?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fX1RgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">Room 2</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/chastity-belt/room-2/2849636?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">The Deaf Institute</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-the-deaf-institute-tickets/13274923?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fXRlgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 13, 2024</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">Strange Brew Limited</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-strange-brew-tickets/13282413?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fXWZgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                                    </tr>
                                    <td scope="col" class="col-sm-3">Jun 14, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Village Underground</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-village-underground-tickets/13872498?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fXTdgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                                    
                            </tbody>
                        </table>
                     </div>

                    <div class="cloud">
                        <button class="band cloud-button">Cloud Nothings</button>
                        <table class="table table-responsive cloud-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Buffalo, NY</td>
                                    <td scope="col" class="col-sm-3">Rec Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-rec-room-tickets/13596573?pl=recroom&irgwc=1&clickid=XvRy0PVK3xyPREZWtQzmVXYaUkH3%3AQ3JgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Pittsburgh, PA</td>
                                    <td scope="col" class="col-sm-3">Spirit Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/16006061D7A1741B?irgwc=1&clickid=XvRy0PVK3xyPREZWtQzmVXYaUkH3%3AQThgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">Velvet Underground</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.ca/event/cloud-nothings-velvet-underground-tickets/13596073?pl=embrace&irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3AV0pgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Somerville, MA</td>
                                    <td scope="col" class="col-sm-3">Crystal Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/0100605D23B0A11A?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3AVzZgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">The Fillmore Philadelphia</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/cloud-nothings-philadelphia-pennsylvania-05-08-2024/event/02006061F5F29351?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3AVQZgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 9, 2024</td>
                                    <td scope="col" class="col-sm-3">New York, NY</td>
                                    <td scope="col" class="col-sm-3">LPR</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/le-poisson-rouge-group-nyc-llc/event/bgpqx-cloud-nothings-9th-may-le-poisson-rouge-new-york-tickets?dice_id=2528804&dice_channel=web&dice_tags=organic&dice_campaign=Le+Poisson+Rouge+Group+NYC%2C+LLC&dice_feature=mio_marketing&pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U9PNLEwS7RMNE01M7QvyEyxNTU2SE4ysjADABQxk2wuAAAA" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 10, 2024</td>
                                    <td scope="col" class="col-sm-3">Washington, DC</td>
                                    <td scope="col" class="col-sm-3">Black Cat</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/69024563/cloud-nothings-at-black-cat?clickref=1100lyiMYbeu " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Richmond, VA</td>
                                    <td scope="col" class="col-sm-3">Canal Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.us/event/cloud-nothings-at-canal-club/592419" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Durham, NC</td>
                                    <td scope="col" class="col-sm-3">Motorco Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.andmoreagainpresents.com/#/events/100090" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 13, 2024</td>
                                    <td scope="col" class="col-sm-3">Asheville, NC</td>
                                    <td scope="col" class="col-sm-3">The Grey Eagle</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/99342870/cloud-nothings-asheville-grey-eagle-music-hall?clickref=1011lyjHqTnt " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 14, 2024</td>
                                    <td scope="col" class="col-sm-3">West Columbia, SC</td>
                                    <td scope="col" class="col-sm-3">New Brookland Tavern</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/cloud-nothings-tickets-853552016057?aff=aff0bandsintown&bit_userid=31932125&appId=fdhnerfcnpr-qlyna-onyqv&comeFrom=267&artist_event_id=105255306 " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 16, 2024</td>
                                    <td scope="col" class="col-sm-3">Atlanta, GA</td>
                                    <td scope="col" class="col-sm-3">The Masquerade</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/0E006061B3E96495?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3Akw5gWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 17, 2024</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">Cannery Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.prekindle.com/event/75245-cloud-nothings-nashville" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 19, 2024</td>
                                    <td scope="col" class="col-sm-3">Austin, TX</td>
                                    <td scope="col" class="col-sm-3">3TEN Austin City Limits Live</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/artist-rsvp/359574?event_id=105255377&utm_campaign=event&utm_medium=web&app_id=squarespace-dylan-baldi&utm_source=public_api&came_from=267&spn=0&signature=ZZbef187c2f89f1b9c55241ad17f80b43d8cd265696ee5dee5598c972bc5b4dbba" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Houston, TX</td>
                                    <td scope="col" class="col-sm-3">White Oak Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/3A00606179AC2747?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37E0VgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Phoenix, AZ</td>
                                    <td scope="col" class="col-sm-3">The Rebel Lounge</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/cloud-nothings/592231?afflky=PSPatTheRebelLounge" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 23, 2024</td>
                                    <td scope="col" class="col-sm-3">San Diego, CA</td>
                                    <td scope="col" class="col-sm-3">Soda Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/o9blm-cloud-nothings-23rd-may-soda-bar-san-diego-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1XdPSUk1M0i2ME4yTbUvyEyxNTU2SE4ysjADAL4KaSsuAAAA" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 24, 2024</td>
                                    <td scope="col" class="col-sm-3">Santa Ana, CA</td>
                                    <td scope="col" class="col-sm-3">Constellation Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/cloud-nothings-santa-ana-california-05-24-2024/event/0900605D25587D61?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37BzlgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">Lodge Room Highland Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.lodgeroomhlp.com/shows/cloud-nothings-2/" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 26, 2024</td>
                                    <td scope="col" class="col-sm-3">San Francisco, CA</td>
                                    <td scope="col" class="col-sm-3">Café Du Nord</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-cafe-du-nord-tickets/13590533?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37GQNgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Portland, OR</td>
                                    <td scope="col" class="col-sm-3">Hawthorne Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/40472827/cloud-nothings-portland-hawthorne-theatre?clickref=1011lyjHuNLd " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Tractor Tavern</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-w-guests-tractor-tickets/13590613?pl=tractor&irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37sSBgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272 " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Boise, ID</td>
                                    <td scope="col" class="col-sm-3">El Korah Shrine</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/cloud-nothings-tickets-853266492047?aff=aff0bandsintown&bit_userid=31932125&appId=fdhnerfcnpr-qlyna-onyqv&comeFrom=267&artist_event_id=105255599" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Denver, CO</td>
                                    <td scope="col" class="col-sm-3">HQ</td>
                                    <td scope="col" class="col-sm-3"><a href="https://tickets.holdmyticket.com/tickets/429791" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Kansas City, MO</td>
                                    <td scope="col" class="col-sm-3">Record Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/06006061AC2B86C2?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37r09gWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Omaha, NE</td>
                                    <td scope="col" class="col-sm-3">Reverb Lounge</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/74270072?clickref=1100lyiN5R98" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 5, 2024</td>
                                    <td scope="col" class="col-sm-3">St. Paul, MN</td>
                                    <td scope="col" class="col-sm-3">Turf Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/535030/cloud-nothings-tickets?skin=turfclub" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Madison, WI</td>
                                    <td scope="col" class="col-sm-3">High Noon Saloon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/070060619966624C?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37q1RgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Beat Kitchen</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/cloud-nothings/592253?afflky=KickstandProductions" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Lakewood, OH</td>
                                    <td scope="col" class="col-sm-3">Mahall’s</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/vlwqv-cloud-nothings-8th-jun-mahalls-lakewood-tickets?dice_id=2523308&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1288252168212521037&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1S80NklONEwzMDUwMwUAmaIvECEAAAA%3D&pid=530cb286" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Ferndale, MI</td>
                                    <td scope="col" class="col-sm-3">The Loving Touch</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-the-loving-touch-tickets/13601993?pl=lovingtouch&irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37M0BgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="robbins">
                        <button class="band robbins">J. Robbins</button>
                        <table class="table table-responsive robbins-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Westminster, MD</td>
                                    <td scope="col" class="col-sm-3">The Carroll Arts Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://carrollartscenter.my.salesforce-sites.com/ticket/#/instances/a0F6T00000vpI4OUAU" target="_blank">Link</a></td>
                                </tr>     
                                <tr>
                                    <td scope="col" class="col-sm-3">May 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Minneapolis, MN</td>
                                    <td scope="col" class="col-sm-3">Caterwaul Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://ticketstripe.com/2024caterwaul" target="_blank">Link</a></td>
                                    </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="john">
                        <button class="band john">John</button>
                        <table class="table table-responsive john-table" style="display: none;">
                            <span class="text-center no-dates-john" style="display: none;">No tour dates.</span>
                        </table>
                    </div>

                    <div class="pulp">
                        <button class="band pulp">Slow Pulp</button>
                        <table class="table table-responsive pulp-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Charleston, SC</td>
                                    <td scope="col" class="col-sm-3">Credit One Stadium</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/2D005F7DB2012FC2?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2nQ9gWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 27, 2024</td>
                                    <td scope="col" class="col-sm-3">Raleigh, NC</td>
                                    <td scope="col" class="col-sm-3">Coastal Credit Union Music Park at Walnut Creek</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/the-postal-service-death-cab-for-raleigh-north-carolina-04-27-2024/event/2D005F7CF6465ABF?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2ixxgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">Bridgestone Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/1B005F7DFDB25DB9?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2iwJgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Columbus, OH</td>
                                    <td scope="col" class="col-sm-3">The Schottenstein Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/05005F7D9F4B276D?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2iWFgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Pittsburgh, PA</td>
                                    <td scope="col" class="col-sm-3">Petersen Events Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/16005F7DE1FD32ED?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2iSRgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Albany, NY</td>
                                    <td scope="col" class="col-sm-3">MVP Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/00005F7E956E292F?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2E2lgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">Scotiabank Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/10005F7C33F85495" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Milwaukee, WI</td>
                                    <td scope="col" class="col-sm-3">Miller High Life Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/518997/the-postal-service-death-cab-for-cutie-tickets?skin=pabst" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 7, 2024</td>
                                    <td scope="col" class="col-sm-3">St. Louis, MO</td>
                                    <td scope="col" class="col-sm-3">Chaifetz Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/06005F7D11E5700D?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2EQJgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Kansas City, MO</td>
                                    <td scope="col" class="col-sm-3">T-Mobile Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/519322/the-postal-service-death-cab-for-cutie-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Salt Lake City, UT</td>
                                    <td scope="col" class="col-sm-3">Kilby Block Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.24tix.com/events/868654600" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Boise, ID</td>
                                    <td scope="col" class="col-sm-3">Idaho Central Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/1E005F7BE83B4B51?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2BRxgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 14, 2024</td>
                                    <td scope="col" class="col-sm-3">Vancouver, BC</td>
                                    <td scope="col" class="col-sm-3">Doug Mitchell Thunderbird Sports Centre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/11005F7B9AA41B6C" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Portland, OR</td>
                                    <td scope="col" class="col-sm-3">Moda Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/0F005F7DD0F82AE7?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2BSRgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Barcelona, ES</td>
                                    <td scope="col" class="col-sm-3">Primavera Sound, Parc del Forum</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.primaverasound.com/en/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Marseilles, FR</td>
                                    <td scope="col" class="col-sm-3">The Echo Festival, La Makeda</td>
                                    <td scope="col" class="col-sm-3"><a href="https://theecho-festival.com/programmation/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Milan, IT</td>
                                    <td scope="col" class="col-sm-3">ARCI Bellezza</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/arci-bellezza-aps/event/a58g2-slow-pulp-3rd-jun-arci-bellezza-milano-tickets?dice_id=1943100&dice_channel=web&dice_tags=organic&dice_campaign=Arci+Bellezza+APS&dice_feature=marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q%2BwSDRPtDQwNEk2TQQAo1IshSEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 5, 2024</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">Point Ephemere</td>
                                    <td scope="col" class="col-sm-3"><a href="https://go.seated.com/tour-events/ef515cd3-566e-44c2-b84c-c7955aba6444?utm_referrer=https%3A%2F%2Fwww.slowpulp.com%2F" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Köln, DE</td>
                                    <td scope="col" class="col-sm-3">Bumann & Sohn</td>
                                    <td scope="col" class="col-sm-3"><a href="https://popanz.ticket.io/cj48x0v7/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Brussels, BE</td>
                                    <td scope="col" class="col-sm-3">AB Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.abconcerts.be/en/agenda/slow-pulp/a10Qw000000RfdOIAS" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Hilvarenbeek, NE</td>
                                    <td scope="col" class="col-sm-3">Best Kept Secret</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bestkeptsecret.nl/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">Concorde 2</td>
                                    <td scope="col" class="col-sm-3"><a href="https://joyconcerts.seetickets.com/event/slow-pulp/concorde-2/2846116?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016546_e94a9b874dc1b791e90302350a146bf8&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Birmingham, UK</td>
                                    <td scope="col" class="col-sm-3">Hare & Hounds</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.skiddle.com/whats-on/Birmingham/Hare-And-Hounds-Kings-Heath/Slow-Pulp/37137287/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 14, 2024</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">The Classic Grand</td>
                                    <td scope="col" class="col-sm-3"><a href="https://432p.seetickets.com/event/slow-pulp/the-classic-grand/2845701?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016687_fa99c0281b97851456b9b7823e422828&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Dublin, IE</td>
                                    <td scope="col" class="col-sm-3">Whelans</td>
                                    <td scope="col" class="col-sm-3"><a href="https://singularartists.ie/show/slow-pulp-2/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 16, 2024</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Band On The Wall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://nowwave.seetickets.com/event/slow-pulp/band-on-the-wall/2841373?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016787_ffd76ddc2175f5f52902d2392f2929a8&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 18, 2024</td>
                                    <td scope="col" class="col-sm-3">Nottingham, UK</td>
                                    <td scope="col" class="col-sm-3">The Bodega Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.alttickets.com/slow-pulp-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 19, 2024</td>
                                    <td scope="col" class="col-sm-3">Cardiff, UK</td>
                                    <td scope="col" class="col-sm-3">Clwb Ifor Bach</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.alttickets.com/slow-pulp-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 20, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Koko</td>
                                    <td scope="col" class="col-sm-3"><a href="https://formpresents.seetickets.com/event/slow-pulp/koko/2843326?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016912_2c42a13c81a496f02b14dae2fd59ff6e&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 19-21, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Capitol Hill Block Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.capitolhillblockparty.com/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Lollapalooza, Grant Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.lollapalooza.com/tickets" target="_blank">Link</a></td>
                                    </tr>                     
                            </tbody>
                        </table>
                    </div>

                    <div class="speedy">
                        <button class="band speedy-button">Speedy Ortiz</button>
                        <table class="table table-responsive speedy-table" style="display: none;">
                            <span class="text-center no-dates-speedy" style="display: none;">No tour dates.</span>
                        </table>
                     </div>
                </div>
        </div>
    <%- include('partials/footer') %>
</div>
<script type="text/javascript" src="js/buttonClick.js"></script>
</html>