<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
        <div class="container-fluid text-center">
            <h1>clients on tour</h1>
                <div class="tables table-responsive" style="border: none;">

                    <div class="fifteen">
                        <button class="band fifteen">15 15</button>
                        <table class="table table-responsive fifteen-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Mar 12, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Johanneshov, SE</td>
                                    <td scope="col" class="col-sm-3">Fållan</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.se/event/kamasi-washington-biljetter/657509?clickId=QyDxo3U2exyKRqY36DyWjU8uUks2A6RxMxZJxo0&irgwc=1&utm_source=Bandsintown&utm_medium=affiliate&utm_campaign=219208&utm_content=1112841_7505" target="_blank">Link</a></td>
                                </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 14, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Malmö, SE</td>
                                    <td scope="col" class="col-sm-3">Moriska Paviljongen</td>
                                    <td scope="col" class="col-sm-3"><a href="https://secure.tickster.com/en/h262414p6ptjw1m/products" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 15, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Oslo, NO</td>
                                    <td scope="col" class="col-sm-3">The Norwegian Opera and Ballet</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.operaen.no/forestillinger/kamasi-washington-i-operaen-konsert/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 17, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Berlin, DE</td>
                                    <td scope="col" class="col-sm-3">Theatre des Westens</td>
                                    <td scope="col" class="col-sm-3"><a hreft="https://www.eventim.de/noapp/event/18559824/?affiliate=ZEE&utm_source=awin&utm_medium=affiliate&utm_campaign=567115&awc=11388_1738634338_8fd5fa28486b289db6a57e78159ef5bb" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 18, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Brno, CZ</td>
                                    <td scope="col" class="col-sm-3">Jazzfest Brno</td>
                                    <td scope="col" class="col-sm-3"><a href="https://goout.net/en/tickets/kamasi-washington/loux/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 19, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Warszawa, PL</td>
                                    <td scope="col" class="col-sm-3">Klub Stodola</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.pl/event/kamasi-washington-fearless-movement-europe-tour-2024-bilety/35453?clickId=WDN1Mxz-jxyKTZqTvfz4oyC2Uks2F02hMxZJxo0&irgwc=1&utm_source=Bandsintown&utm_medium=affiliate&utm_campaign=219208&utm_content=1212555_8185" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 21, 2025 +</td>
                                    <td scope="col" class="col-sm-3">München, DE</td>
                                    <td scope="col" class="col-sm-3">Theaterfabrik</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.de/event/kamasi-washington-fearless-movement-europe-tour-tickets/541337?clickId=2IB1SxUzwxyKT9%3ATPYTItQhtUks2F0wxMxZJxo0&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 23, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Barcelona, ES</td>
                                    <td scope="col" class="col-sm-3">Barcelona Jazz Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://tickets.oneboxtds.com/jazzbarcelona/select/2070777" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 24, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Madrid, ES</td>
                                    <td scope="col" class="col-sm-3">Sala La Riviera</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.entradas.com/event/kamasi-washington-sala-la-riviera-18340485/?affiliate=AWI&utm_campaign=awin&utm_medium=affiliate&utm_source=awin" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 25, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Porto, PT</td>
                                    <td scope="col" class="col-sm-3">Hard Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bol.pt/Comprar/Bilhetes/139094-kamasi_washington-hard_club_li/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 26, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Lisboa, PT</td>
                                    <td scope="col" class="col-sm-3">Coliseu dos Recreios</td>
                                    <td scope="col" class="col-sm-3"><a href="https://donttrythisathome.bol.pt" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 28, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Cenon, FR</td>
                                    <td scope="col" class="col-sm-3">Le Rocher de Palmer</td>
                                    <td scope="col" class="col-sm-3"><a href="https://billetterie.lerocherdepalmer.fr/agenda/1405-kamasi-washington?session=1405" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 1, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">Salle Pleyel</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.fr/fr/manifestation/kamasi-washington-billet/idmanif/581045/idtier/18864121?clickId=wd%3AU5URi8xyKUo6xFO1CR2nDUks2F0XtMxZJxo0&irgwc=1&utm_source=Bandsintown&utm_medium=affiliate&utm_campaign=219208&utm_content=1107977_7516" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 12-14, 2025</td>
                                    <td scope="col" class="col-sm-3">Barcelona, ES</td>
                                    <td scope="col" class="col-sm-3">Sonar Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://sonar.es/en/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ with Kamasi Washington</td>
                                    </tr>
                            </tbody>
                        </table>
                     </div>
                    
                    <div class="butcher">
                        <button class="band butcher">Butcher Brown</button>
                        <table class="table table-responsive butcher-table" style="display: none;">
                            <span class="no-dates-butcher" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>
                    
                    <div class="chastity">
                        <button class="band chastity">Chastity Belt</button>
                        <table class="table table-responsive chastity-table" style="display: none;">
                            <span class="no-dates-chastity" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                     <div class="cloud">
                        <button class="band cloud">Cloud Nothings</button>
                        <table class="table table-responsive cloud-table" style="display: none;">
                            <span class="no-dates-cloud" style="display: none;">No upcoming dates</span>                      
                        </table>
                    </div>

                    <div class="disintegration">
                        <button class="band disintegration">Disintegration</button>
                        <table class="table table-responsive disintegration-table" style="display: none;">
                            <span class="no-dates-disintegration" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                    <div class="frost">
                        <button class="band frost">Frost Children</button>
                        <table class="table table-responsive frost-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 8, 2025</td>
                                    <td scope="col" class="col-sm-3">Phoenix, AZ</td>
                                    <td scope="col" class="col-sm-3">M3F 2025 – Steele Indian School Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/festivals/727477" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Miami, FL</td>
                                    <td scope="col" class="col-sm-3">The Ground</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/short-link/event/2wmdp6-frost-children-kumo-99-4th-apr-the-ground-miami-miami-tickets?dice_id=5111853&dice_channel=web&dice_tags=organic&dice_campaign=short+link&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&utm_source=web&utm_campaign=short+link&utm_medium=mio_marketing&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U8ryi8usbRML8ovzUuxrytKTUstKsrMS49PKsovL04tsg1OTEssygQA7qQr2jwAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 15-18, 2025</td>
                                    <td scope="col" class="col-sm-3">Salt Lake City, UT</td>
                                    <td scope="col" class="col-sm-3">Kilby Block Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.24tix.com/events/t3ta2lw5hvg2tem2g53gpr4uhq" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 4-8, 2025</td>
                                    <td scope="col" class="col-sm-3">Barcelona, ES</td>
                                    <td scope="col" class="col-sm-3">Primavera Sound</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.primaverasound.com/en/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 6, 2025</td>
                                    <td scope="col" class="col-sm-3">Queens, NY</td>
                                    <td scope="col" class="col-sm-3">The Governors Ball at Flushing Meadows</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/3day-ticket-the-governors-ball-queens-new-york-06-06-2025/event/1D00619BC8DA3BF7?irgwc=1&clickid=xERyv7XRaxyKTGIyfzQDDSejUks2Fw21MxZJxo0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 24-26, 2025</td>
                                    <td scope="col" class="col-sm-3">Brno, CZ</td>
                                    <td scope="col" class="col-sm-3">Pop Messe</td>
                                    <td scope="col" class="col-sm-3"><a href="https://tickets.nfctron.com/event/pop-messe-services-sro/pop-messe-2025" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 31-Aug2, 2025</td>
                                    <td scope="col" class="col-sm-3">Copenhagen, DK</td>
                                    <td scope="col" class="col-sm-3">O Days</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.odaysfestival.dk/tickets/" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                     </div>

                     <div class="genn">
                        <button class="band genn">Genn</button>
                        <table class="table table-responsive genn-table" style="display: none;">
                            <span class="no-dates-genn" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                    <div class="robbins">
                        <button class="band robbins">J. Robbins</button>
                        <table class="table table-responsive robbins-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Apr 25, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Metro</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/98181561/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 26, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Metro</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/35435284/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 27, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Detroit, MI</td>
                                    <td scope="col" class="col-sm-3">El Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/8ep6v7-bob-mould-27th-apr-el-club-detroit-detroit-tickets?dice_id=U97962c5adeb&source=ea&_branch_match_id=1211309051164893202&utm_source=web&utm_campaign=google_youtube&utm_medium=google_youtube&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q%2B1NLc0M0o2TUxJTbIvzi8tSk61TU1UA0nHZ6bYIkur1RWlpqUWFWXmpccnFeWXF6cW2QYnpiUWZQIAfc4%2B8VoAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 29, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Cleveland Heights, OH</td>
                                    <td scope="col" class="col-sm-3">Grog Shop</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/bob-mould-band-here-we-grog-shop-tickets/14122903?pl=grogshop&edpPlParam=%3Fpl%3Dgrogshop" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 30, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Milvale, PA</td>
                                    <td scope="col" class="col-sm-3">Mr. Smalls Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/bob-mould-band-with-special-mr-smalls-theatre-tickets/14111293?irgwc=1&clickid=wzX1WVVCYxyKUAfSt8ROv3kLUksxnpWtMxZJxs0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 2, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Boston, MA</td>
                                    <td scope="col" class="col-sm-3">Paradise Rock Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/bob-mould-band-here-we-go-boston-massachusetts-05-02-2025/event/01006222F6A43243?utm_medium=affiliate&utm_source=5128861-Google%20Events&source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 3, 2025 +</td>
                                    <td scope="col" class="col-sm-3">New York, NY</td>
                                    <td scope="col" class="col-sm-3">Le Poisson Rouge</td>
                                    <td scope="col" class="col-sm-3"><a href="https://lpr.kydlabs.com/e/EVe7b33880-b7d7-4ab3-ad99-2f1009174d35?referral_id=g-1fe243fe-d664-4e90-908c-6021d292785a" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 7, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Washington, DC</td>
                                    <td scope="col" class="col-sm-3">Black Cat</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/89846101/bob-mouldjrobbins-band-washington-black-cat?clickref=1011lAc6cFrb" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 9, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Louisville, KY</td>
                                    <td scope="col" class="col-sm-3">Headliners Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/76546342/bob-mould-bandhere-we-go-crazy-with-jrobbins-band-louisville-headliners-music-hall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 10, 2025 +</td>
                                    <td scope="col" class="col-sm-3">Indianapolis, IN</td>
                                    <td scope="col" class="col-sm-3">HI-FI Indy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/hifi/events/bob-mould-band-127341" target="_blank">Link</a></td>
                                    </tr>
                                    
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ with Bob Mould</td>
                                        </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="john">
                        <button class="band john">John</button>
                        <table class="table table-responsive john-table" style="display: none;">
                            <span class="no-dates-john" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="julia">
                        <button class="band julia">Julia Holter</button>
                        <table class="table table-responsive julia-table" style="display: none;">
                            <span class="no-dates-julia" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="mj">
                        <button class="band mj">MJ Lenderman</button>
                        <table class="table table-responsive mj-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 27, 2025</td>
                                    <td scope="col" class="col-sm-3">Boulder, CO</td>
                                    <td scope="col" class="col-sm-3">Fox Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/650596/mj-lenderman-the-wind-with-wild-pink-tickets?skin=foxtheatre" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 28, 2025</td>
                                    <td scope="col" class="col-sm-3">Denver, CO</td>
                                    <td scope="col" class="col-sm-3">Bluebird Theater</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Colorado Springs, CO</td>
                                    <td scope="col" class="col-sm-3">The Black Sheep</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Lawrence, KS</td>
                                    <td scope="col" class="col-sm-3">The Bottleneck</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Urbana, IL</td>
                                    <td scope="col" class="col-sm-3">Rose Bowl Tavern</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 6, 2025</td>
                                    <td scope="col" class="col-sm-3">Lexington, KY</td>
                                    <td scope="col" class="col-sm-3">The Green Lantern Bar</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 7, 2025</td>
                                    <td scope="col" class="col-sm-3">Lexington, KY</td>
                                    <td scope="col" class="col-sm-3">The Green Lantern Bar</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 29, 2025</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Brooklyn Steel</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/667823/mj-lenderman-the-wind-manning-fireworks-tour-tickets?skin=brooklynsteel" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 30, 2025</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Brooklyn Steel</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/669809/mj-lenderman-the-wind-manning-fireworks-tour-tickets?skin=brooklynsteel" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 29, 2025</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">The Fleece</td>
                                    <td scope="col" class="col-sm-3"><a href="https://birdonthewire.gigantic.com/mj-lenderman-and-the-wind-tickets/bristol-the-fleece/2025-05-29-19-30" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 30, 2025</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">CHALK</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/mj-lenderman/chalk/3150858?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1727081429_23a8efa25787de5f9e72e2d46c5ad397&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 31, 2025</td>
                                    <td scope="col" class="col-sm-3">Nottingham, UK</td>
                                    <td scope="col" class="col-sm-3">Rescue Rooms</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.rescuerooms.com/gigs/mj-lenderman-rescue-rooms-nottingham-tickets-2025/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 2, 2025</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">St. Lukes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://432presents.seetickets.com/event/mj-lenderman/saint-luke-s/3150614?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1727081459_401572bfc356ba0095f1ea91c6e90b51&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Gorilla</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/mj-lenderman/gorilla/3151348?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1727081475_b72915d14a001711a482a704ead84768&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 4, 2025</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Electric Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://birdonthewire.gigantic.com/mj-lenderman-and-the-wind-tickets/london-electric-ballroom/2025-06-04-19-00" target="_blank">Link</a></td>
                                    </tr>                                                                       
                            </tbody>
                        </table>
                    </div>                            

                    <div class="lambrini">
                        <button class="band lambrini">Lambrini Girls</button>
                        <table class="table table-responsive lambrini-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Ravenna, IT</td>
                                    <td scope="col" class="col-sm-3">Bronson</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177419-lambrini-girls-at-bronson?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Prague, CZ</td>
                                    <td scope="col" class="col-sm-3">Bike Jesus</td>
                                    <td scope="col" class="col-sm-3"><a href="https://goout.net/cs/listky/lambrini-girls+support/ebvab/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Leipzig, DE</td>
                                    <td scope="col" class="col-sm-3">Moritzbastei</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42179375-lambrini-girls-at-moritzbastei?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 5, 2025</td>
                                    <td scope="col" class="col-sm-3">Berlin, DE</td>
                                    <td scope="col" class="col-sm-3">Neue Zukunft</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixforgigs.com/Event/59519/lambrini-girls-neue-zukunft-berlin" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 7, 2025</td>
                                    <td scope="col" class="col-sm-3">Stockholm, SE</td>
                                    <td scope="col" class="col-sm-3">Hus 7</td>
                                    <td scope="col" class="col-sm-3"><a href="https://billetto.se/en/e/lambrini-girls-hus-7-biljetter-1081831?rr=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 8, 2025</td>
                                    <td scope="col" class="col-sm-3">Oslo, NO</td>
                                    <td scope="col" class="col-sm-3">John Dee</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176957-lambrini-girls-at-john-dee?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 9, 2025</td>
                                    <td scope="col" class="col-sm-3">Gothenburg, SE</td>
                                    <td scope="col" class="col-sm-3">Pustervik</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tickster.com/se/sv/events/gyy11fyzjppwby5/2025-03-09/lambrini-girls" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 11, 2025</td>
                                    <td scope="col" class="col-sm-3">København, DK</td>
                                    <td scope="col" class="col-sm-3">Ideal Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.billetlugen.dk/en/event/lambrini-girls-uk-vega-19150052/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 13, 2025</td>
                                    <td scope="col" class="col-sm-3">Rotterdam, NL</td>
                                    <td scope="col" class="col-sm-3">Rotown</td>
                                    <td scope="col" class="col-sm-3"><a href="https://rotown.stager.co/web/tickets/111427402?utm_campaign=250313lambrinigirls&utm_source=website&utm_medium=ticketbutton" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 14, 2025</td>
                                    <td scope="col" class="col-sm-3">Amsterdam, NL</td>
                                    <td scope="col" class="col-sm-3">Melkweg</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.nl/event/309263?brand=nl_melkweg&_gl=1*1vsbe0d*_ga*MjA4NjczODQ3MC4xNzI3ODczOTg3*_ga_KFGKMS6566*MTcyNzg3Mzk4Ni4xLjAuMTcyNzg3Mzk4Ni4wLjAuMA.." target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 15, 2025</td>
                                    <td scope="col" class="col-sm-3">Eindhoven, NL</td>
                                    <td scope="col" class="col-sm-3">Effenar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176954-lambrini-girls-at-effenaar?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 17, 2025</td>
                                    <td scope="col" class="col-sm-3">Köln, DE</td>
                                    <td scope="col" class="col-sm-3">Bumann & Sohn</td>
                                    <td scope="col" class="col-sm-3"><a href="https://popanz.ticket.io/y4vxyfxu/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 19, 2025</td>
                                    <td scope="col" class="col-sm-3">Luxembourg, LU</td>
                                    <td scope="col" class="col-sm-3">Rotondes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.atelier.lu/shows/lambrini-girls/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 20, 2025</td>
                                    <td scope="col" class="col-sm-3">Reims, FR</td>
                                    <td scope="col" class="col-sm-3">Cartonnerie</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42185595-lambrini-girls-at-club-la-cartonnerie?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 21, 2025</td>
                                    <td scope="col" class="col-sm-3">Rouen, FR</td>
                                    <td scope="col" class="col-sm-3">Le 106</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42178785-lambrini-girls-at-le-106?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">Fleece</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177164-lambrini-girls-at-fleece?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 2, 2025</td>
                                    <td scope="col" class="col-sm-3">Southampton, UK</td>
                                    <td scope="col" class="col-sm-3">Joiners</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177168-lambrini-girls-at-joiners?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Birmingham, UK</td>
                                    <td scope="col" class="col-sm-3">Hare & Hounds</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177165-lambrini-girls-at-hare-and-hounds?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Birkenhead, UK</td>
                                    <td scope="col" class="col-sm-3">Future Yard</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177142-lambrini-girls-at-future-yard?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 5, 2025</td>
                                    <td scope="col" class="col-sm-3">Dublin, IE</td>
                                    <td scope="col" class="col-sm-3">Whelan’s</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176823-lambrini-girls-at-whelans?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 7, 2025</td>
                                    <td scope="col" class="col-sm-3">York, UK</td>
                                    <td scope="col" class="col-sm-3">Crescent</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177171-lambrini-girls-at-crescent?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 8, 2025</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">Brudenell Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177032-lambrini-girls-at-brudenell-social-club?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 9, 2025</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">Stereo</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177166-lambrini-girls-at-stereo?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 10, 2025</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Gorilla</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177003-lambrini-girls-at-gorilla?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 11, 2025</td>
                                    <td scope="col" class="col-sm-3">Nottingham, UK</td>
                                    <td scope="col" class="col-sm-3">Bodega</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177031-lambrini-girls-at-bodega-social?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 12, 2025</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">Chalk</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176993-lambrini-girls-at-chalk?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 17, 2025</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Electric Brixton</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177428-lambrini-girls-at-electric-brixton?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>                                  
                            </tbody>
                        </table>
                     </div>

                     <div class="lysistrata">
                        <button class="band lysistrata">Lysistrata</button>
                        <table class="table table-responsive lysistrata-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 13, 2025</td>
                                    <td scope="col" class="col-sm-3">Bordeaux, FR</td>
                                    <td scope="col" class="col-sm-3">Rock School Barbey</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/pxmqk-lysistrata-johnny-mafia-13th-mar-rock-school-barbey-bordeaux-tickets?pid=530cb286&_branch_match_id=1211309051164893202&utm_medium=partners_api&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Xc1MTZPNDM2S7I0s7AvyEyxNTU2SE4ysjBTqytKTUstKsrMS49PKsovL04tsg1OTEssygQAHquKGUgAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 14, 2025</td>
                                    <td scope="col" class="col-sm-3">Gueret, FR</td>
                                    <td scope="col" class="col-sm-3">La Quincaillerie</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/e/106338151-lysistrata-at-la-quincaillerie-numerique?came_from=251&utm_medium=web&utm_source=artist_page&utm_campaign=ticket_rsvp" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 15, 2025</td>
                                    <td scope="col" class="col-sm-3">Macon, FR</td>
                                    <td scope="col" class="col-sm-3">La Cave à Musique</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.fnacspectacles.com/event/lysistrata-tournee-cave-a-musique-macon-19505053/?affiliate=QYC&utm_source=QYC&utm_medium=dp&utm_campaign=bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 25, 2025</td>
                                    <td scope="col" class="col-sm-3">Lille, FR</td>
                                    <td scope="col" class="col-sm-3">BlackLab</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.fr/fr/manifestation/lysistrata-the-pleasure-dome-billet/idmanif/611224/idtier/18864121?clickId=wd%3AU5URi8xyKUo6xFO1CR2nDUks2A8XtMxZJxo0&irgwc=1&utm_source=JamBase%2C+Inc.&utm_medium=affiliate&utm_campaign=252938&utm_content=1107977_7516" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 26, 2025</td>
                                    <td scope="col" class="col-sm-3">Le Havre, FR</td>
                                    <td scope="col" class="col-sm-3">Le Tetris</td>
                                    <td scope="col" class="col-sm-3"><a href="https://upmerch.store/lysistrata/?page_id=9 " target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 16, 2025</td>
                                    <td scope="col" class="col-sm-3">Saint-Malo, FR</td>
                                    <td scope="col" class="col-sm-3">Saint Malo Rock City</td>
                                    <td scope="col" class="col-sm-3"><a href="https://upmerch.store/lysistrata/?page_id=9 " target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 17, 2025</td>
                                    <td scope="col" class="col-sm-3">Nevers, FR</td>
                                    <td scope="col" class="col-sm-3">Café Charbon</td>
                                    <td scope="col" class="col-sm-3"><a href=" https://billetterie.cafe-charbon-nevers.com/agenda/164-lysistrata-foncedalle?fbclid=IwY2xjawIOC-lleHRuA2FlbQIxMAABHXC_Yqd9BdOjGekCP1adkMFIPiV5CLGqagF9zh9I54Mhsit2Lp1Y68v8HA_aem_-MOPI9PpshB4psZBdZ0Jhg " target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 23, 2025</td>
                                    <td scope="col" class="col-sm-3">Fontaine, FR</td>
                                    <td scope="col" class="col-sm-3">La Source</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.fnacspectacles.com/event/lysistrata-tournee-la-source-fontaine-19699753/?affiliate=QYC&utm_source=QYC&utm_medium=dp&utm_campaign=bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 24, 2025</td>
                                    <td scope="col" class="col-sm-3">La Seyne Sur Mer, FR</td>
                                    <td scope="col" class="col-sm-3">Centre Tisot</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.fnacspectacles.com/event/lysistrata-tournee-centre-culturel-tisot-la-seyne-sur-mer-19591538/?affiliate=QYC&utm_source=QYC&utm_medium=dp&utm_campaign=bandsintown" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                    </div>

                     <div class="pup">
                        <button class="band pup">PUP</button>
                        <table class="table table-responsive pup-table" style="display: none;">
                            <span class="no-dates-pup" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                    <div class="sea">
                        <button class="band sea">Searows</button>
                        <table class="table table-responsive sea-table" style="display: none;">
                            <span class="no-dates-sea" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="pulp">
                        <button class="band pulp">Slow Pulp</button>
                        <table class="table table-responsive pulp-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Mar 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Champaign, IL</td>
                                    <td scope="col" class="col-sm-3">The City Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.statefarmcenter.com/events/detail/slowpulp" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 7, 2025</td>
                                    <td scope="col" class="col-sm-3">Phoenix, AZ</td>
                                    <td scope="col" class="col-sm-3">M3F 2025 – Steele Indian School Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/festivals/727477" target="_blank">Link</a></td>
                                    </tr>
                                    
                            </tbody>
                        </table>
                    </div>

                    <div class="speedy">
                        <button class="band speedy">Speedy Ortiz</button>
                        <table class="table table-responsive speedy-table" style="display: none;">
                            <span class="no-dates-speedy" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="spits">
                        <button class="band spits">The Spits</button>
                        <table class="table table-responsive spits-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                                </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 27, 2025</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">Lodge Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.lodgeroomhlp.com/shows/the-spits-2/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 28, 2025</td>
                                    <td scope="col" class="col-sm-3">San Diego, CA</td>
                                    <td scope="col" class="col-sm-3">Casbah</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/the-spits/628102?afflky=Casbah&source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Long Beach, CA</td>
                                    <td scope="col" class="col-sm-3">Alex’s Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/nv3w2l-the-spits-with-special-guests-generacion-suicida-thee-toe-tags-dj-polyester-1st-mar-alexs-bar-long-beach-tickets?pid=530cb286&_branch_match_id=1211309051164893202&utm_medium=partners_api&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1c%2B0NEwzTkxMSTFLM7UvyEyxNTU2SE4ysjBTqytKTUstKsrMS49PKsovL04tsg1OTEssygQAm2d29kgAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 9, 2025</td>
                                    <td scope="col" class="col-sm-3">New York, NY</td>
                                    <td scope="col" class="col-sm-3">Xanadu Roller Arts</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/rygder-the-spits-dirty-fences-pyrex-dj-darky-ramone-9th-apr-xanadu-new-york-city-tickets?pid=530cb286&_branch_match_id=1211309051164893202&utm_medium=partners_api&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1S82tjQ1TDQwNUixtLAvyEyxNTU2SE4ysjBTqytKTUstKsrMS49PKsovL04tsg1OTEssygQARId7HUgAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 10, 2025</td>
                                    <td scope="col" class="col-sm-3">Washington, DC</td>
                                    <td scope="col" class="col-sm-3">Songbyrd Music House</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/eod59y-the-spits-10th-apr-songbyrd-washington-dc-tickets?pid=530cb286&_branch_match_id=1211309051164893202&utm_medium=partners_api&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q83NE6xMLcwNExKSrUvyEyxNTU2SE4ysjBTqytKTUstKsrMS49PKsovL04tsg1OTEssygQA9LQn5kgAAAA%3D" target="_blank">Link</a></td>
                                    </tr>                              
                            </tbody>
                        </table>
                     </div>

                    <div class="tapir">
                        <button class="band tapir">Tapir!</button>
                        <table class="table table-responsive tapir-table" style="display: none;">
                            <span class="no-dates-tapir" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                     <div class="thus">
                        <button class="band thus">Thus Love</button>
                        <table class="table table-responsive thus-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                                </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 11, 2025</td>
                                    <td scope="col" class="col-sm-3">Ghent, BE</td>
                                    <td scope="col" class="col-sm-3">Trefpunt</td>
                                    <td scope="col" class="col-sm-3"><a href="https://apps.ticketmatic.com/widgets/democrazy/flow/tickets?event=971825343328&l=nl#!/addtickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 12, 2025</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">Point Ephemere</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/nv2oa3-thus-love-dream-nails-12th-mar-point-ephmre-paris-tickets?pid=530cb286&_branch_match_id=1211309051164893202&utm_medium=partners_api&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q8xTUk0MjY0S7I0TbYvyEyxNTU2SE4ysjBTqytKTUstKsrMS49PKsovL04tsg1OTEssygQADb32uEgAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 13, 2025</td>
                                    <td scope="col" class="col-sm-3">Belfort, FR</td>
                                    <td scope="col" class="col-sm-3">La Proudriere</td>
                                    <td scope="col" class="col-sm-3"><a href="https://billetterie.poudriere.com/agenda/228-thus-love-dream-nails?session=228" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 14, 2025</td>
                                    <td scope="col" class="col-sm-3">Milan, IT</td>
                                    <td scope="col" class="col-sm-3">Arci Bellezza</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/mxvp39-thus-love-14th-mar-arci-bellezza-milano-tickets?pid=530cb286&_branch_match_id=1211309051164893202&utm_medium=partners_api&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fdJNUkxsUg0SDYytbAvyEyxNTU2SE4ysjBTqytKTUstKsrMS49PKsovL04tsg1OTEssygQAojoDcUgAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 15, 2025</td>
                                    <td scope="col" class="col-sm-3">Bologna, IT</td>
                                    <td scope="col" class="col-sm-3">Covo Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/av6m5d-thus-love-dream-nails-15th-mar-covo-club-bologna-tickets?pid=530cb286&_branch_match_id=1211309051164893202&utm_medium=partners_api&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1XdPNDY2MDVLMTEzS7QvyEyxNTU2SE4ysjBTqytKTUstKsrMS49PKsovL04tsg1OTEssygQAJAEZaEgAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 16, 2025</td>
                                    <td scope="col" class="col-sm-3">Nova Gorica, SI</td>
                                    <td scope="col" class="col-sm-3">Mostovna</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.mojekarte.si/si/koncert-thus-love-predskupine/vstopnice-1195816.html" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 17, 2025</td>
                                    <td scope="col" class="col-sm-3">Vienna, AT</td>
                                    <td scope="col" class="col-sm-3">Flucc Deck</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.at/event/thus-love-tickets/22993" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 18, 2025</td>
                                    <td scope="col" class="col-sm-3">Prague, CZ</td>
                                    <td scope="col" class="col-sm-3">Café V Lese</td>
                                    <td scope="col" class="col-sm-3"><a href="https://goout.net/en/tickets/thus-love+support-dream-nails/ipabb/?ref=bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 19, 2025</td>
                                    <td scope="col" class="col-sm-3">Berlin, DE</td>
                                    <td scope="col" class="col-sm-3">Urban Spree</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.de/event/thus-love-tickets/553875?clickId=2IB1SxUzwxyKT9%3ATPYTItQhtUksxhNROIXUG0M0&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 21, 2025</td>
                                    <td scope="col" class="col-sm-3">Copenhagen, DK</td>
                                    <td scope="col" class="col-sm-3">Vega Ideal Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.billetlugen.dk/event/19227994/?affiliate=VGA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 22, 2025</td>
                                    <td scope="col" class="col-sm-3">Hamburg, DE</td>
                                    <td scope="col" class="col-sm-3">Nochtwache</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.de/event/thus-love-tickets/553887?clickId=2IB1SxUzwxyKT9%3ATPYTItQhtUksxhNQPIXUG0M0&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 23, 2025</td>
                                    <td scope="col" class="col-sm-3">Rotterdam, NL</td>
                                    <td scope="col" class="col-sm-3">V11</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.rotown.nl/agenda/thus-love/?utm_source=songkick&utm_medium=link&utm_campaign=250323thuslove" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 24, 2025</td>
                                    <td scope="col" class="col-sm-3">Amsterdam, NL</td>
                                    <td scope="col" class="col-sm-3">Tolhuistuin</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.paradiso.nl/programma/thus-love/2399147" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 26, 2025</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">The Garage</td>
                                    <td scope="col" class="col-sm-3"><a href="https://ticketmaster-uk.tm7559.net/c/219208/431519/7559?u=https%3A%2F%2Fwww.ticketmaster.co.uk%2Fthus-love-london-26-03-2025%2Fevent%2F1F00614296D95791&subId1=2570~106007359~~onaqfvagbja_jro&subId3=80832019&SharedID=owned" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 27, 2025</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">The Attic</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/thus-love-the-attic-tickets/13632554?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUksxhP2PIXUG0M0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 28, 2025</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">Stereo</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/thus-love/stereo/3186994?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 29, 2025</td>
                                    <td scope="col" class="col-sm-3">Salford, UK</td>
                                    <td scope="col" class="col-sm-3">The White Hotel</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/thus-love-the-white-hotel-tickets/13636514?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUksxhP3eIXUG0M0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 30, 2025</td>
                                    <td scope="col" class="col-sm-3">Sheffield, UK</td>
                                    <td scope="col" class="col-sm-3">Delicious Clam</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.skiddle.com/whats-on/Sheffield/Delicious-Clam/DC-Presents-THUS-LOVE--Aint/40116593/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 31, 2025</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">Strange Brew</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/thus-love/bristol-strange-brew/3195275?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Cardiff, UK</td>
                                    <td scope="col" class="col-sm-3">Clwb Ifor Bach</td>
                                    <td scope="col" class="col-sm-3"><a href="https://clwb.net/events/thus-love-cardiff/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 2, 2025</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">Brighton Komedia</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/thus-love/komedia/3188755?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Ramsgate, UK</td>
                                    <td scope="col" class="col-sm-3">Ramsgate Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ramsgatemusichall.com/tc-events/thus-love/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 21, 2025</td>
                                    <td scope="col" class="col-sm-3" onmouseover="showDate()" onmouseout="hideDate()"
                                 id="greenfield">Greenfield, MA</td>
                                    <td scope="col" class="col-sm-3">Green River Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/greenriverfestival/events/green-river-festival-2025-116392" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ with The Vaccines</td>
                                        </tr>               
                            </tbody>
                        </table>
                     </div>

                     <div class="ultra">
                        <button class="band ultra">Ultra Q</button>
                        <table class="table table-responsive ultra-table" style="display: none;">
                            <span class="no-dates-ultra" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="water">
                        <button class="band water">Water From Your Eyes</button>
                        <table class="table table-responsive water-table" style="display: none;">
                            <span class="no-dates-water" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="wednesday">
                        <button class="band water">Wednesday (Solo)</button>
                        <table class="table table-responsive wednesday-table" style="display: none;">
                            <span class="no-dates-wednesday" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>
                </div>
        </div>
    <%- include('partials/footer') %>
</div>
<script type="text/javascript" src="js/buttonClick.js"></script>
</html>