<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
        <div class="container-fluid text-center">
            <h1>current and <br>past clients</h1>
                <div class="tables table-responsive" style="border: none;">
                    <div class="fifteen">
                        <button class="band fifteen">15 15</button>
                        <div class="fifteen-script" style="display: none;">
                            <a href="https://15-15.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="15 15" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#B6CC38" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>
                        </div>
                     </div>

                     <div class="billie">
                        <button class="band billie">Billie Marten</button>
                        <div class="billie-script" style="display: none;">
                            <a href="https://ourvinyl.bandcamp.com/album/billie-marten-ourvinyl-sessions" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Billie Marten" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#B6CC38" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>     
                        </div>                                                          
                    </div>

                    <div class="bruit">
                        <button class="band bruit">Bruit ≤</button>
                        <div class="bruit-script" style="display: none;">
                            <a href="https://bruitofficial.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Bruit" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>  

                    <div class="butcher">
                        <button class="band butcher">Butcher Brown</button>
                        <div class="butcher-script" style="display: none;">
                            <a href="https://butcherbrownmusic.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Butcher Brown" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#B6CC38" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>                  
                        </div>
                     </div>

                    <div class="chastity">
                        <button class="band chastity">Chastity Belt</button>
                        <div class="chastity-script" style="display: none;">
                            <a href="https://chastity-belt.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Chastity Belt" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#B6CC38" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                    <div class="cloud">
                        <button class="band cloud">Cloud Nothings</button>
                        <div class="cloud-script" style="display: none;">
                            <a href="https://cloudnothings.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Cloud Nothings" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>                                     
                        </div>
                    </div>

                    <div class="disintegration">
                        <button class="band disintegration">Disintegration</button>
                        <div class="disintegration-script" style="display: none;">
                            <a href="https://disintegrationcleveland.bandcamp.com/album/shiver-in-a-weak-light" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Disintegration" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                    <div class="edging">
                        <button class="band edging">Edging</button>
                        <div class="edging-script" style="display: none;">
                            <a href="https://edging.bandcamp.com/music" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Edging" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#B6CC38" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>     
                        </div>                                                          
                    </div>

                    <div class="frost">
                        <button class="band frost">Frost Childre</button>
                        <div class="frost-script" style="display: none;">
                            <a href="https://frostchildren.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Frost Children" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                     <div class="genn">
                        <button class="band genn">Genn</button>
                        <div class="genn-script" style="display: none;">
                            <a href="https://genntheband.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="id_3942144" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                    <div class="robbins">
                        <button class="band robbins">J. Robbins</button>
                        <div class="robbins-script" style="display: none;">
                            <a href="https://jrobbins.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="J. Robbins" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="john">
                        <button class="band john">John</button>
                        <div class="john-script" style="display: none;">
                            <a href="https://johntimestwo.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="John" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="julia">
                        <button class="band julia">Julia Holter</button>
                        <div class="julia-script" style="display: none;">
                            <a href="https://juliaholter.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Julia Holter" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="kent">
                        <button class="band kent">Kent Osborne</button>
                        <div class="kent-script" style="display: none;">
                            <a href="https://kentosborne.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Kent Osborne" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>    

                    <div class="lambrini">
                        <button class="band lambrini">Lambrini Girls</button>
                        <div class="lambrini-script" style="display: none;">
                            <a href="https://lambrinigirlsband.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Lambrini Girls" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                     <div class="lysistrata">
                        <button class="band lysistrata">Lysistrata</button>
                        <div class="lysistrata-script" style="display: none;">
                            <a href="https://lysistrata.bandcamp.com/merch" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Lysistrata" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="mj">
                        <button class="band mj">MJ Lenderman</button>
                        <div class="mj-script" style="display: none;">
                            <a href="https://mjlenderman.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="MJ Lenderman" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div> 

                    <div class="model">
                        <button class="band model">Model / Actriz</button>
                        <div class="model-script" style="display: none;">
                            <a href="https://modelactriz.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="id_13637827" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>  

                     <div class="pup">
                        <button class="band pup">PUP</button>
                        <div class="pup-script" style="display: none;">
                            <a href="https://puptheband.bandcamp.com/music" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Pup" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                     <div class="roller">
                        <button class="band roller">Roller Derby</button>
                        <div class="roller-script" style="display: none;">
                            <a href="https://rollerderbyband.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Roller Derby" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>                                                           
                        </div>
                    </div>

                    <div class="sea">
                        <button class="band sea">Searows</button>
                        <div class="sea-script" style="display: none;">
                            <a href="https://searows.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Searows" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="pulp">
                        <button class="band pulp">Slow Pulp</button>
                        <div class="pulp-script" style="display: none;">
                            <a href="https://slowpulp.bandcamp.com/music" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Slow Pulp" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="snooper">
                        <button class="band snooper">Snooper</button>
                        <div class="snooper-script" style="display: none;">
                            <a href="https://snooper7.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Snooper" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>  

                    <div class="speedy">
                        <button class="band speedy">Speedy Ortiz</button>
                        <div class="speedy-script" style="display: none;">
                            <a href="https://speedyortiz.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Speedy Ortiz" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="spits">
                        <button class="band spits">The Spits</button>
                        <div class="spits-script" style="display: none;">
                            <a href="https://slovenly.bandcamp.com/album/the-spits-self-titled-1-lp" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="The Spits" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                     <div class="suuns">
                        <button class="band suuns">Suuns</button>
                        <div class="suuns-script" style="display: none;">
                            <a href="https://suuns.bandcamp.com/music" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Suuns" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>  

                    <div class="tapir">
                        <button class="band tapir">Tapir!</button>
                        <div class="tapir-script" style="display: none;">
                            <a href="https://tapir-exclamation-mark.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Tapir!" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                     <div class="thus">
                        <button class="band thus">Thus Love</button>
                        <div class="thus-script" style="display: none;">
                            <a href="https://thuslove.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Thus Love" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                     </div>

                     <div class="ultra">
                        <button class="band ultra">Ultra Q</button>
                        <div class="ultra-script" style="display: none;">
                            <a href="https://ultraq.bandcamp.com/" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Ultra Q" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#B6CC38" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="water">
                        <button class="band water">Water From Your Eyes</button>
                        <div class="water-script" style="display: none;">
                            <a href="https://waterfromyoureyes.bandcamp.com/music" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Water From Your Eyes" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>

                    <div class="wednesday">
                        <button class="band wednesday">Wednesday (Solo)</button>
                        <div class="wednesday-script" style="display: none;">
                            <a href="https://wednesdayband.bandcamp.com/music" target="_blank" class="bandcamp">BANDCAMP</a>
                            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Wednesday" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#D9D9D9" data-link-color="#000000" data-background-color="rgba(0,0,0,0)" data-display-limit="100" data-display-start-time="false" data-link-text-color="#B6CC38" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)" data-display-logo="false" data-display-track-button="false"></a>  
                        </div>
                    </div>
                </div>
        </div>
    <%- include('partials/footer') %>
</div>
<script type="text/javascript" src="js/buttonClick.js"></script>
</html>