<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
        <div class="container-fluid text-center">
            <h1>clients on tour</h1>
                <div class="tables table-responsive" style="border: none;">
                    
                    <div class="chastity">
                        <button class="band chastity">Chastity Belt</button>
                        <table class="table table-responsive chastity-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Lincoln Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://lh-st.com/shows/05-12-2024-chastity-belt/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Wien, AT</td>
                                    <td scope="col" class="col-sm-3">Arena Wien</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/noapp/event/17971088/?affiliate=BNO&affiliate=BNO&utm_source=awin&utm_medium=affiliate&utm_campaign=97249&awc=11388_1709670631_a512c75f7b164454ad21790584dfd15c" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Leipzig, DE</td>
                                    <td scope="col" class="col-sm-3">Conne Island</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixforgigs.com/Event/53014" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Berlin, DE</td>
                                    <td scope="col" class="col-sm-3">Frannz Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/noapp/event/18018817/?affiliate=BNO&affiliate=BNO&utm_source=awin&utm_medium=affiliate&utm_campaign=97249&awc=11388_1709670576_ece3547629aa4e8d07c0dc0848766b0c" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Neustrelitz, DE</td>
                                    <td scope="col" class="col-sm-3">Immergut Festival 2024</td>
                                    <td scope="col" class="col-sm-3"><a href="https://tickets.hoemepage.com/event/immergut-festival-2024-neu-x4ytgt" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Köln, DE</td>
                                    <td scope="col" class="col-sm-3">Bumann & SOHN</td>
                                    <td scope="col" class="col-sm-3"><a href="https://popanz.ticket.io/9t6a9lr9/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Luxembourg, LU</td>
                                    <td scope="col" class="col-sm-3">Rotondes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://apps.ticketmatic.com/widgets/cr/flow/rotondes?event=774460508901&l=en#!/addtickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 5, 2024</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">La Fleche d’Or</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/68q3b-chastity-belt-5th-jun-la-flche-dor-paris-tickets?lng=en" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Bruxelles, BE</td>
                                    <td scope="col" class="col-sm-3">Le Botanique</td>
                                    <td scope="col" class="col-sm-3"><a href="https://shop.botanique.be/widgets/botanique/flow/logo?event=667618454674&l=en#!/addtickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Hilvarenbeek, NL</td>
                                    <td scope="col" class="col-sm-3">Best Kept Secret 2024</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bestkeptsecret.nl/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">The Hope & Ruin</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/chastity-belt/the-hope-ruin/2839697?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">Brudenell Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-brudenell-social-club-tickets/13291433?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fX1RgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">Room 2</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/chastity-belt/room-2/2849636?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">The Deaf Institute</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-the-deaf-institute-tickets/13274923?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fXRlgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 13, 2024</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">Strange Brew Limited</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-strange-brew-tickets/13282413?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fXWZgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 14, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Village Underground</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/chastity-belt-village-underground-tickets/13872498?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkH3fXTdgWbSUo0" target="_blank">Link</a></td>
                                    </tr>
                            </tbody>
                        </table>
                     </div>

                    <div class="cloud">
                        <button class="band cloud-button">Cloud Nothings</button>
                        <table class="table table-responsive cloud-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Buffalo, NY</td>
                                    <td scope="col" class="col-sm-3">Rec Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-rec-room-tickets/13596573?pl=recroom&irgwc=1&clickid=XvRy0PVK3xyPREZWtQzmVXYaUkH3%3AQ3JgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Pittsburgh, PA</td>
                                    <td scope="col" class="col-sm-3">Spirit Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/16006061D7A1741B?irgwc=1&clickid=XvRy0PVK3xyPREZWtQzmVXYaUkH3%3AQThgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">Velvet Underground</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.ca/event/cloud-nothings-velvet-underground-tickets/13596073?pl=embrace&irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3AV0pgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Somerville, MA</td>
                                    <td scope="col" class="col-sm-3">Crystal Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/0100605D23B0A11A?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3AVzZgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">The Fillmore Philadelphia</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/cloud-nothings-philadelphia-pennsylvania-05-08-2024/event/02006061F5F29351?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3AVQZgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 9, 2024</td>
                                    <td scope="col" class="col-sm-3">New York, NY</td>
                                    <td scope="col" class="col-sm-3">LPR</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/le-poisson-rouge-group-nyc-llc/event/bgpqx-cloud-nothings-9th-may-le-poisson-rouge-new-york-tickets?dice_id=2528804&dice_channel=web&dice_tags=organic&dice_campaign=Le+Poisson+Rouge+Group+NYC%2C+LLC&dice_feature=mio_marketing&pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U9PNLEwS7RMNE01M7QvyEyxNTU2SE4ysjADABQxk2wuAAAA" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 10, 2024</td>
                                    <td scope="col" class="col-sm-3">Washington, DC</td>
                                    <td scope="col" class="col-sm-3">Black Cat</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/69024563/cloud-nothings-at-black-cat?clickref=1100lyiMYbeu " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Richmond, VA</td>
                                    <td scope="col" class="col-sm-3">Canal Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.us/event/cloud-nothings-at-canal-club/592419" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Durham, NC</td>
                                    <td scope="col" class="col-sm-3">Motorco Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.andmoreagainpresents.com/#/events/100090" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 13, 2024</td>
                                    <td scope="col" class="col-sm-3">Asheville, NC</td>
                                    <td scope="col" class="col-sm-3">The Grey Eagle</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/99342870/cloud-nothings-asheville-grey-eagle-music-hall?clickref=1011lyjHqTnt " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 14, 2024</td>
                                    <td scope="col" class="col-sm-3">West Columbia, SC</td>
                                    <td scope="col" class="col-sm-3">New Brookland Tavern</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/cloud-nothings-tickets-853552016057?aff=aff0bandsintown&bit_userid=31932125&appId=fdhnerfcnpr-qlyna-onyqv&comeFrom=267&artist_event_id=105255306 " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 16, 2024</td>
                                    <td scope="col" class="col-sm-3">Atlanta, GA</td>
                                    <td scope="col" class="col-sm-3">The Masquerade</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/0E006061B3E96495?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH3%3Akw5gWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 17, 2024</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">Cannery Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.prekindle.com/event/75245-cloud-nothings-nashville" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 19, 2024</td>
                                    <td scope="col" class="col-sm-3">Austin, TX</td>
                                    <td scope="col" class="col-sm-3">3TEN Austin City Limits Live</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/artist-rsvp/359574?event_id=105255377&utm_campaign=event&utm_medium=web&app_id=squarespace-dylan-baldi&utm_source=public_api&came_from=267&spn=0&signature=ZZbef187c2f89f1b9c55241ad17f80b43d8cd265696ee5dee5598c972bc5b4dbba" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Houston, TX</td>
                                    <td scope="col" class="col-sm-3">White Oak Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/3A00606179AC2747?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37E0VgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Phoenix, AZ</td>
                                    <td scope="col" class="col-sm-3">The Rebel Lounge</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/cloud-nothings/592231?afflky=PSPatTheRebelLounge" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 23, 2024</td>
                                    <td scope="col" class="col-sm-3">San Diego, CA</td>
                                    <td scope="col" class="col-sm-3">Soda Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/o9blm-cloud-nothings-23rd-may-soda-bar-san-diego-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1XdPSUk1M0i2ME4yTbUvyEyxNTU2SE4ysjADAL4KaSsuAAAA" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 24, 2024</td>
                                    <td scope="col" class="col-sm-3">Santa Ana, CA</td>
                                    <td scope="col" class="col-sm-3">Constellation Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/cloud-nothings-santa-ana-california-05-24-2024/event/0900605D25587D61?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37BzlgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">Lodge Room Highland Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.lodgeroomhlp.com/shows/cloud-nothings-2/" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 26, 2024</td>
                                    <td scope="col" class="col-sm-3">San Francisco, CA</td>
                                    <td scope="col" class="col-sm-3">Café Du Nord</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-cafe-du-nord-tickets/13590533?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37GQNgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Portland, OR</td>
                                    <td scope="col" class="col-sm-3">Hawthorne Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/40472827/cloud-nothings-portland-hawthorne-theatre?clickref=1011lyjHuNLd " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Tractor Tavern</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-w-guests-tractor-tickets/13590613?pl=tractor&irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37sSBgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272 " target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Boise, ID</td>
                                    <td scope="col" class="col-sm-3">El Korah Shrine</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/cloud-nothings-tickets-853266492047?aff=aff0bandsintown&bit_userid=31932125&appId=fdhnerfcnpr-qlyna-onyqv&comeFrom=267&artist_event_id=105255599" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Denver, CO</td>
                                    <td scope="col" class="col-sm-3">HQ</td>
                                    <td scope="col" class="col-sm-3"><a href="https://tickets.holdmyticket.com/tickets/429791" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Kansas City, MO</td>
                                    <td scope="col" class="col-sm-3">Record Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/06006061AC2B86C2?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37r09gWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Omaha, NE</td>
                                    <td scope="col" class="col-sm-3">Reverb Lounge</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/74270072?clickref=1100lyiN5R98" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 5, 2024</td>
                                    <td scope="col" class="col-sm-3">St. Paul, MN</td>
                                    <td scope="col" class="col-sm-3">Turf Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/535030/cloud-nothings-tickets?skin=turfclub" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Madison, WI</td>
                                    <td scope="col" class="col-sm-3">High Noon Saloon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/070060619966624C?irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37q1RgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Beat Kitchen</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/cloud-nothings/592253?afflky=KickstandProductions" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Lakewood, OH</td>
                                    <td scope="col" class="col-sm-3">Mahall’s</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/vlwqv-cloud-nothings-8th-jun-mahalls-lakewood-tickets?dice_id=2523308&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1288252168212521037&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1S80NklONEwzMDUwMwUAmaIvECEAAAA%3D&pid=530cb286" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">June 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Ferndale, MI</td>
                                    <td scope="col" class="col-sm-3">The Loving Touch</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-the-loving-touch-tickets/13601993?pl=lovingtouch&irgwc=1&clickid=wCsXl5VKyxyPREZWtQzmVXYaUkH37M0BgWbSUo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="robbins">
                        <button class="band robbins">J. Robbins</button>
                        <table class="table table-responsive robbins-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Westminster, MD</td>
                                    <td scope="col" class="col-sm-3">The Carroll Arts Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://carrollartscenter.my.salesforce-sites.com/ticket/#/instances/a0F6T00000vpI4OUAU" target="_blank">Link</a></td>
                                </tr>     
                                <tr>
                                    <td scope="col" class="col-sm-3">May 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Minneapolis, MN</td>
                                    <td scope="col" class="col-sm-3">Caterwaul Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://ticketstripe.com/2024caterwaul" target="_blank">Link</a></td>
                                    </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="john">
                        <button class="band john">John</button>
                        <table class="table table-responsive john-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 13, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Signature Brew Haggerston</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/dy8qo-john-timestwo-london-13th-jul-signature-brew-haggerston-london-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1c8yTTVOM0s0MDJJNLMvyEyxNTU2SE4ysjADALxb8aAuAAAA" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Bude, UK</td>
                                    <td scope="col" class="col-sm-3">The Wyldes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.thewyldescornwall.com/tickets/idles" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">Aug 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Crickhowell, UK</td>
                                    <td scope="col" class="col-sm-3">Green Man Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.greenman.net/tickets/" target="_blank">Link</a></td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>

                    <div class="pulp">
                        <button class="band pulp">Slow Pulp</button>
                        <table class="table table-responsive pulp-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Boise, ID</td>
                                    <td scope="col" class="col-sm-3">Idaho Central Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/1E005F7BE83B4B51?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2BRxgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 14, 2024</td>
                                    <td scope="col" class="col-sm-3">Vancouver, BC</td>
                                    <td scope="col" class="col-sm-3">Doug Mitchell Thunderbird Sports Centre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/11005F7B9AA41B6C" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Portland, OR</td>
                                    <td scope="col" class="col-sm-3">Moda Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/0F005F7DD0F82AE7?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHW2BSRgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Barcelona, ES</td>
                                    <td scope="col" class="col-sm-3">Primavera Sound, Parc del Forum</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.primaverasound.com/en/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Marseilles, FR</td>
                                    <td scope="col" class="col-sm-3">The Echo Festival, La Makeda</td>
                                    <td scope="col" class="col-sm-3"><a href="https://theecho-festival.com/programmation/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Milan, IT</td>
                                    <td scope="col" class="col-sm-3">ARCI Bellezza</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/arci-bellezza-aps/event/a58g2-slow-pulp-3rd-jun-arci-bellezza-milano-tickets?dice_id=1943100&dice_channel=web&dice_tags=organic&dice_campaign=Arci+Bellezza+APS&dice_feature=marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q%2BwSDRPtDQwNEk2TQQAo1IshSEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 5, 2024</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">Point Ephemere</td>
                                    <td scope="col" class="col-sm-3"><a href="https://go.seated.com/tour-events/ef515cd3-566e-44c2-b84c-c7955aba6444?utm_referrer=https%3A%2F%2Fwww.slowpulp.com%2F" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Köln, DE</td>
                                    <td scope="col" class="col-sm-3">Bumann & Sohn</td>
                                    <td scope="col" class="col-sm-3"><a href="https://popanz.ticket.io/cj48x0v7/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Brussels, BE</td>
                                    <td scope="col" class="col-sm-3">AB Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.abconcerts.be/en/agenda/slow-pulp/a10Qw000000RfdOIAS" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Hilvarenbeek, NE</td>
                                    <td scope="col" class="col-sm-3">Best Kept Secret</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bestkeptsecret.nl/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">Concorde 2</td>
                                    <td scope="col" class="col-sm-3"><a href="https://joyconcerts.seetickets.com/event/slow-pulp/concorde-2/2846116?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016546_e94a9b874dc1b791e90302350a146bf8&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 12, 2024</td>
                                    <td scope="col" class="col-sm-3">Birmingham, UK</td>
                                    <td scope="col" class="col-sm-3">Hare & Hounds</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.skiddle.com/whats-on/Birmingham/Hare-And-Hounds-Kings-Heath/Slow-Pulp/37137287/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 14, 2024</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">The Classic Grand</td>
                                    <td scope="col" class="col-sm-3"><a href="https://432p.seetickets.com/event/slow-pulp/the-classic-grand/2845701?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016687_fa99c0281b97851456b9b7823e422828&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Dublin, IE</td>
                                    <td scope="col" class="col-sm-3">Whelans</td>
                                    <td scope="col" class="col-sm-3"><a href="https://singularartists.ie/show/slow-pulp-2/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 16, 2024</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Band On The Wall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://nowwave.seetickets.com/event/slow-pulp/band-on-the-wall/2841373?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016787_ffd76ddc2175f5f52902d2392f2929a8&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 18, 2024</td>
                                    <td scope="col" class="col-sm-3">Nottingham, UK</td>
                                    <td scope="col" class="col-sm-3">The Bodega Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.alttickets.com/slow-pulp-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 19, 2024</td>
                                    <td scope="col" class="col-sm-3">Cardiff, UK</td>
                                    <td scope="col" class="col-sm-3">Clwb Ifor Bach</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.alttickets.com/slow-pulp-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 20, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Koko</td>
                                    <td scope="col" class="col-sm-3"><a href="https://formpresents.seetickets.com/event/slow-pulp/koko/2843326?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016912_2c42a13c81a496f02b14dae2fd59ff6e&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 19-21, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Capitol Hill Block Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.capitolhillblockparty.com/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Lollapalooza, Grant Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.lollapalooza.com/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 6, 2024</td>
                                        <td scope="col" class="col-sm-3">Lakewood, OH</td>
                                        <td scope="col" class="col-sm-3">Mahall’s</td>
                                        <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/6y8e7-slow-pulp-6th-nov-mahalls-lakewood-tickets?dice_id=3015861&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fcxMzJPSTZISk5JtAAAi7looyEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 8, 2024</td>
                                        <td scope="col" class="col-sm-3">Amherst, MA</td>
                                        <td scope="col" class="col-sm-3">The Drake</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/thedrake/events/slow-pulp-103377" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 9, 2024</td>
                                        <td scope="col" class="col-sm-3">South Burlington, VT</td>
                                        <td scope="col" class="col-sm-3">Higher Ground Showcase Lounge</td>
                                        <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/slow-pulp/602598?afflky=HigherGround&utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1715440044_0c20709ab0642295a9ae799eceea8354&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 10, 2024</td>
                                        <td scope="col" class="col-sm-3">Boston, MA</td>
                                        <td scope="col" class="col-sm-3">Paradise Rock Club</td>
                                        <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/slow-pulp-boston-massachusetts-11-10-2024/event/010060A1DEA0664A?irgwc=1&clickid=RlexHx0-oxyKTd-Tl2Vor2VuUkHQnnQhgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&impradname=Seated&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 13, 2024</td>
                                        <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                        <td scope="col" class="col-sm-3">Union Transfer</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/554804/slow-pulp-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 14, 2024</td>
                                        <td scope="col" class="col-sm-3">New York, NY</td>
                                        <td scope="col" class="col-sm-3">Webster Hall</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/557563/slow-pulp-tickets?skin=websterhall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 17, 2024</td>
                                        <td scope="col" class="col-sm-3">Washington, DC</td>
                                        <td scope="col" class="col-sm-3">Howard Theatre</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/slow-pulp-free-range-howard-theatre-tickets/13482974?pl=howardtheatre&refid=artist" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 19, 2024</td>
                                        <td scope="col" class="col-sm-3">Pittsburgh, PA</td>
                                        <td scope="col" class="col-sm-3">Thunderbird Café & Music Hall</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/79454895/slow-pulp-pittsburgh-thunderbird-café-music-hall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 20, 2024</td>
                                        <td scope="col" class="col-sm-3">Indianapolis, IN</td>
                                        <td scope="col" class="col-sm-3">Hi-Fi Indy</td>
                                        <td scope="col" class="col-sm-3"><a href="https://link.seated.com/0d448d85-6db1-4a31-b48f-7caac4d8532a" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 23, 2024</td>
                                        <td scope="col" class="col-sm-3">Detroit, MI</td>
                                        <td scope="col" class="col-sm-3">El Club</td>
                                        <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/lpkkp-slow-pulp-23rd-nov-el-club-detroit-detroit-tickets?dice_id=3026518&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1a9MMja0sDQzTrE0SQMAI0H3nyEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>                           
                            </tbody>
                        </table>
                    </div>

                    <div class="speedy">
                        <button class="band speedy">Speedy Ortiz</button>
                        <table class="table table-responsive speedy-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jun 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Greenfield, MA</td>
                                    <td scope="col" class="col-sm-3">Green River Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/greenriverfestival/events/green-river-festival-2024-83013" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 23, 2024</td>
                                    <td scope="col" class="col-sm-3">Richmond, VA</td>
                                    <td scope="col" class="col-sm-3">The Canal Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.us/event/mary-timony-at-canal-club/586703" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Chattanooga, TN</td>
                                    <td scope="col" class="col-sm-3">JJ’s Bohemia</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/artist-rsvp/2072222?event_id=105212921&utm_campaign=event&utm_medium=api&app_id=squarespace-magnolia-silver&utm_source=public_api&came_from=267&spn=0&signature=ZZf9e19b147ca1cbdad1282c230b3e65dc2ad63f6db607d7a01e983f85b6cae8a5" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">The Blue Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/2qvvp-mary-timony-w-speedy-ortiz-26th-jul-the-blue-room-nashville-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fcyTzZLSUmxtDQ3TbMvyEyxNTU2SE4ysjADAGRftu0uAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 27, 2024</td>
                                    <td scope="col" class="col-sm-3">Atlanta, GA</td>
                                    <td scope="col" class="col-sm-3">The Earl</td>
                                    <td scope="col" class="col-sm-3"><a href="https://badearl.freshtix.com/events/mary-timony-the-earl?utm_campaign=bit&utm_medium=referral&utm_source=bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Asheville, NC</td>
                                    <td scope="col" class="col-sm-3">Eulogy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/ddbke-mary-timony-28th-jul-eulogy-asheville-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Xc3NksySEs1Tkkys7AvyEyxNTU2SE4ysjADALRwE%2BMuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">MilkBoy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/speedy-ortiz/590786?afflky=MilkBoy" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                    </div>

                    <div class="water">
                        <button class="band water">Water From Your Eyes</button>
                        <table class="table table-responsive water-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">May 13, 2024</td>
                                    <td scope="col" class="col-sm-3">Albuquerque, NM</td>
                                    <td scope="col" class="col-sm-3">Sister Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/water-from-your-eyes-tickets-846259895127?aff=aff0bandsintown&comeFrom=267&artist_event_id=1030953052&bit_userid=31932125&appId=fdhnerfcnpr-ncevpbg-znpxrery-p759" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 16, 2024</td>
                                    <td scope="col" class="col-sm-3">Houston, TX</td>
                                    <td scope="col" class="col-sm-3">White Oak Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/3A005F6E003A40C4?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHQllx5gWbU0g0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 17, 2024</td>
                                    <td scope="col" class="col-sm-3">Austin, TX</td>
                                    <td scope="col" class="col-sm-3">Scoot Inn</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/real-estate-infinite-jangle-tour-austin-texas-05-17-2024/event/3A005F6DD4DD2ED2?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHQllwNgWbU0g0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&impradname=Bandsintown&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 18, 2024</td>
                                    <td scope="col" class="col-sm-3">Fort Worth, TX</td>
                                    <td scope="col" class="col-sm-3">Tannehill’s Tavern & Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/0C005F74D30A2647?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHQll3JgWbU0g0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Kansas City, MO</td>
                                    <td scope="col" class="col-sm-3">The Truman</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/516600/real-estate-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 21, 2024</td>
                                    <td scope="col" class="col-sm-3">St. Louis, MO</td>
                                    <td scope="col" class="col-sm-3">Delmar Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/real-estate-infinite-jangle-tour-saint-louis-missouri-05-21-2024/event/06005F74BF1C2D0C?utm_content=hotevent&irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHQllRdgWbU0g0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Louisville, KY</td>
                                    <td scope="col" class="col-sm-3">Whirling Tiger</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/65497061/real-estate-wwater-from-your-eyes-louisville-whirling-tiger?clickref=1011lywLhP8B" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 23, 2024</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">The Basement East</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/real-estate-infinite-the-basement-east-tickets/13257843?pl=basementeast&irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHQllSxgWbU0g0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 24, 2024</td>
                                    <td scope="col" class="col-sm-3">Asheville, NC</td>
                                    <td scope="col" class="col-sm-3">Orange Peel</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/88093454/real-estate-infinite-jangle-tour-asheville-the-orange-peel?clickref=1100lyvgrova" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Saxapahaw, NC</td>
                                    <td scope="col" class="col-sm-3">Haw River Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.venuepilot.co/events/90380/orders/new#/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Atlanta, GA</td>
                                    <td scope="col" class="col-sm-3">Variety Playhouse</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/512803/real-estate-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Barcelona, ES</td>
                                    <td scope="col" class="col-sm-3">Primavara Sound</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.primaverasound.com/es/barcelona/tickets-info-primavera-sound-barcelona-2024" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Barcelona, ES</td>
                                    <td scope="col" class="col-sm-3">Primavara Sound</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/d72pq-dorian-electra-softt-water-from-your-eyes-chica-gang-crumb-2nd-jun-la-2-barcelona-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q81TbE0TjQyMzUwtLAvyEyxNTU2SE4ysjADAK1BbuIuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Woodstock, NY</td>
                                    <td scope="col" class="col-sm-3">Bearsville Theater</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/51098318/ratboys-water-from-your-eyes-new-york-bearsville-theater?clickref=1101lyw4gVcs" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 29, 2024</td>
                                    <td scope="col" class="col-sm-3">North Adams, MA</td>
                                    <td scope="col" class="col-sm-3">Mass MoCA</td>
                                    <td scope="col" class="col-sm-3"><a href="https://solidsound.frontgatetickets.com" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 30, 2024</td>
                                    <td scope="col" class="col-sm-3">North Adams, MA</td>
                                    <td scope="col" class="col-sm-3">Mass MoCA</td>
                                    <td scope="col" class="col-sm-3"><a href="https://solidsound.frontgatetickets.com" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Roskilde, DK</td>
                                    <td scope="col" class="col-sm-3">Roskilde Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.roskilde-festival.dk/en/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 19, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Pitchfork Music Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/Pitchfork-Music-Festival-2024/582695?afflky=PitchforkMusicFestival&sp=D8WJ3X" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Pitchfork Music Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/Pitchfork-Music-Festival-2024/582695?afflky=PitchforkMusicFestival&sp=D8WJ3X" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Happy Valley, OR</td>
                                    <td scope="col" class="col-sm-3">Pickathon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://pickathon.com/tickets/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 3, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">ICA</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/water-from-your-eyes-ica-tickets/13427414?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkHQlgUdgWbU0g0" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    <%- include('partials/footer') %>
</div>
<script type="text/javascript" src="js/buttonClick.js"></script>
</html>