<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
        <div class="container-fluid text-center">
            <h1>clients on tour</h1>
                <div class="tables table-responsive" style="border: none;">

                    <div class="butcher">
                        <button class="band butcher">Butcher Brown</button>
                        <table class="table table-responsive butcher-table" style="display: none;">
                            <span class="no-dates-butcher" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>
                    
                    <div class="chastity">
                        <button class="band chastity">Chastity Belt</button>
                        <table class="table table-responsive chastity-table" style="display: none;">
                            <span class="no-dates-chastity" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                     <div class="cloud">
                        <button class="band cloud">Cloud Nothings</button>
                        <table class="table table-responsive cloud-table" style="display: none;">
                            <span class="no-dates-cloud" style="display: none;">No upcoming dates</span>                      
                        </table>
                    </div>

                    <div class="disintegration">
                        <button class="band disintegration">Disintegration</button>
                        <table class="table table-responsive disintegration-table" style="display: none;">
                            <span class="no-dates-disintegration" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                    <div class="frost">
                        <button class="band frost">Frost Children</button>
                        <table class="table table-responsive frost-table" style="display: none;">
                            <span class="no-dates-frost" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                     <div class="genn">
                        <button class="band genn">Genn</button>
                        <table class="table table-responsive genn-table" style="display: none;">
                            <span class="no-dates-genn" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                    <div class="robbins">
                        <button class="band robbins">J. Robbins</button>
                        <table class="table table-responsive robbins-table" style="display: none;">
                            <span class="no-dates-robbins" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="john">
                        <button class="band john">John</button>
                        <table class="table table-responsive john-table" style="display: none;">
                            <span class="no-dates-john" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="julia">
                        <button class="band julia">Julia Holter</button>
                        <table class="table table-responsive julia-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Band On The Wall</td>
                                    <td scope="col" class="col-sm-3"><a href=" https://www.ticketweb.uk/event/julia-holter-band-on-the-wall-tickets/13533754?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkCUQ-3HIXRIzA0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">Saint Luke’s</td>
                                    <td scope="col" class="col-sm-3"><a href=" https://www.ticketweb.uk/event/julia-holter-saint-lukes-tickets/13534004?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkCUQ-yHIXRIzA0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 10, 2024</td>
                                    <td scope="col" class="col-sm-3">Dublin, IE</td>
                                    <td scope="col" class="col-sm-3">The Button Factory</td>
                                    <td scope="col" class="col-sm-3"><a href=" https://www.ticketmaster.ie/julia-holter-dublin-10-12-2024/event/180060B792DD3636?clickId=UCawo3z-mxyKTZqTvfz4oyC2UkCUQ-UfIXRIzA0&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&ircid=7512&camefrom=CFC_BUYAT_219208" target="_blank">Link</a></td>
                                    </tr>                                                          
                            </tbody>
                        </table>
                    </div>

                    <div class="mj">
                        <button class="band mj">MJ Lenderman</button>
                        <table class="table table-responsive mj-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 31, 2025</td>
                                    <td scope="col" class="col-sm-3">Athens, GA</td>
                                    <td scope="col" class="col-sm-3">40 Watt Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/mj-lenderman-the-wind-manning-fireworks-tour-wild-pink-tickets-976299125967?aff=oddtdtcreator" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Birmingham, AL</td>
                                    <td scope="col" class="col-sm-3">Saturn</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 2, 2025</td>
                                    <td scope="col" class="col-sm-3">Oxford, MS</td>
                                    <td scope="col" class="col-sm-3">Proud Larry’s</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.us/event/mj-lenderman-and-the-wind-manning-fireworks-tour/616613?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1727081061_a242c1e03b38197d7fa93c53b15f956d&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 4, 2025</td>
                                    <td scope="col" class="col-sm-3">New Orleans, LA</td>
                                    <td scope="col" class="col-sm-3">Tiptina’s</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 5, 2025</td>
                                    <td scope="col" class="col-sm-3">Houston, TX</td>
                                    <td scope="col" class="col-sm-3">White Oak Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/mj-lenderman-the-wind-manning-fireworks-houston-texas-02-05-2025/event/3A00612D02B97A75?irgwc=1&clickid=xqeQP%3AyvUxyKUhp3KYRHO1-gUkCyAaUhgWbQwQ0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 6, 2025</td>
                                    <td scope="col" class="col-sm-3">Austin, TX</td>
                                    <td scope="col" class="col-sm-3">Emo’s Austin</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 8, 2025</td>
                                    <td scope="col" class="col-sm-3">Oklahoma City, OK</td>
                                    <td scope="col" class="col-sm-3">Beer City Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.prekindle.com/promo/id/-2853509351768481947" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 10, 2025</td>
                                    <td scope="col" class="col-sm-3">Santa Fe, NM</td>
                                    <td scope="col" class="col-sm-3">Tumbleroot Brewery & Distillery</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 11, 2025</td>
                                    <td scope="col" class="col-sm-3">Tucson, AZ</td>
                                    <td scope="col" class="col-sm-3">The Rialto Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/1900612DCD75412D?irgwc=1&clickid=xqeQP%3AyvUxyKUhp3KYRHO1-gUkCyAaQBgWbQwQ0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&utm_source=1387536-Seated&impradname=Seated&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 13, 2025</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">The Fonda Theatre</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 14, 2025</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">The Fonda Theatre</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 15, 2025</td>
                                    <td scope="col" class="col-sm-3">Santa Cruz, CA</td>
                                    <td scope="col" class="col-sm-3">Rio Theater</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 17, 2025</td>
                                    <td scope="col" class="col-sm-3">San Francisco, CA</td>
                                    <td scope="col" class="col-sm-3">The Independent</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 18, 2025</td>
                                    <td scope="col" class="col-sm-3">San Francisco, CA</td>
                                    <td scope="col" class="col-sm-3">The Independent</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 20, 2025</td>
                                    <td scope="col" class="col-sm-3">Portland, OR</td>
                                    <td scope="col" class="col-sm-3">Revolution Hall</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 21, 2025</td>
                                    <td scope="col" class="col-sm-3">Vancouver, BC</td>
                                    <td scope="col" class="col-sm-3">Rickshaw Theatre</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 22, 2025</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Neptune Theatre</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 23, 2025</td>
                                    <td scope="col" class="col-sm-3">Boise, ID</td>
                                    <td scope="col" class="col-sm-3">Shrine Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/duck-club-enterprises-llc/event/2wo2ka-mj-lenderman-the-wind-manning-fireworks-tour-23rd-feb-shrine-social-club-boise-tickets?dice_id=3752473&dice_channel=web&dice_tags=organic&dice_campaign=Duck+Club+Enterprises%2C+LLC&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1S8wNzVMTjFKMTQzSLOvK0pNSy0qysxLj08qyi8vTi2yDU5MSyzKBACL1IRUOwAAAA%3D%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 24, 2025</td>
                                    <td scope="col" class="col-sm-3">Salt Lake, UT</td>
                                    <td scope="col" class="col-sm-3">Soundwell</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/soundwell2/events/mj-lenderman-the-wind-manning-fireworks-tour-at-soundwell-112743" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 26, 2025</td>
                                    <td scope="col" class="col-sm-3">Fort Collins, CO</td>
                                    <td scope="col" class="col-sm-3">Aggie Theatre</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 27, 2025</td>
                                    <td scope="col" class="col-sm-3">Boulder, CO</td>
                                    <td scope="col" class="col-sm-3">Fox Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/650596/mj-lenderman-the-wind-with-wild-pink-tickets?skin=foxtheatre" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 28, 2025</td>
                                    <td scope="col" class="col-sm-3">Denver, CO</td>
                                    <td scope="col" class="col-sm-3">Bluebird Theater</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Colorado Springs, CO</td>
                                    <td scope="col" class="col-sm-3">The Black Sheep</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Lawrence, KS</td>
                                    <td scope="col" class="col-sm-3">The Bottleneck</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Urbana, IL</td>
                                    <td scope="col" class="col-sm-3">Rose Bowl Tavern</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 6, 2025</td>
                                    <td scope="col" class="col-sm-3">Lexington, KY</td>
                                    <td scope="col" class="col-sm-3">The Green Lantern Bar</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 7, 2025</td>
                                    <td scope="col" class="col-sm-3">Lexington, KY</td>
                                    <td scope="col" class="col-sm-3">The Green Lantern Bar</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 29, 2025</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Brooklyn Steel</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/667823/mj-lenderman-the-wind-manning-fireworks-tour-tickets?skin=brooklynsteel" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 30, 2025</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Brooklyn Steel</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/669809/mj-lenderman-the-wind-manning-fireworks-tour-tickets?skin=brooklynsteel" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 29, 2025</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">The Fleece</td>
                                    <td scope="col" class="col-sm-3"><a href="https://birdonthewire.gigantic.com/mj-lenderman-and-the-wind-tickets/bristol-the-fleece/2025-05-29-19-30" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 30, 2025</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">CHALK</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/mj-lenderman/chalk/3150858?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1727081429_23a8efa25787de5f9e72e2d46c5ad397&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">May 31, 2025</td>
                                    <td scope="col" class="col-sm-3">Nottingham, UK</td>
                                    <td scope="col" class="col-sm-3">Rescue Rooms</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.rescuerooms.com/gigs/mj-lenderman-rescue-rooms-nottingham-tickets-2025/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 2, 2025</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">St. Lukes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://432presents.seetickets.com/event/mj-lenderman/saint-luke-s/3150614?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1727081459_401572bfc356ba0095f1ea91c6e90b51&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Gorilla</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/mj-lenderman/gorilla/3151348?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1727081475_b72915d14a001711a482a704ead84768&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 4, 2025</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Electric Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://birdonthewire.gigantic.com/mj-lenderman-and-the-wind-tickets/london-electric-ballroom/2025-06-04-19-00" target="_blank">Link</a></td>
                                    </tr>                                                                       
                            </tbody>
                        </table>
                    </div>                            

                    <div class="lambrini">
                        <button class="band lambrini">Lambrini Girls</button>
                        <table class="table table-responsive lambrini-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 25, 2025</td>
                                    <td scope="col" class="col-sm-3">Lille, FR</td>
                                    <td scope="col" class="col-sm-3">Aéronef</td>
                                    <td scope="col" class="col-sm-3"><a href="https://allevents.in/lille/lambrini-girls-guest-∙-laéronef-⎥club/200027235685535#google_vignette" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 26, 2025</td>
                                    <td scope="col" class="col-sm-3">Nantes, FR</td>
                                    <td scope="col" class="col-sm-3">Stereolux</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.stereolux.org/agenda/lambrini-girls-1ere-partie" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Feb 27, 2025</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">La Maroquinerie</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42179441-lambrini-girls-at-la-maroquinerie?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Ravenna, IT</td>
                                    <td scope="col" class="col-sm-3">Bronson</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177419-lambrini-girls-at-bronson?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Prague, CZ</td>
                                    <td scope="col" class="col-sm-3">Bike Jesus</td>
                                    <td scope="col" class="col-sm-3"><a href="https://goout.net/cs/listky/lambrini-girls+support/ebvab/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Leipzig, DE</td>
                                    <td scope="col" class="col-sm-3">Moritzbastei</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42179375-lambrini-girls-at-moritzbastei?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 5, 2025</td>
                                    <td scope="col" class="col-sm-3">Berlin, DE</td>
                                    <td scope="col" class="col-sm-3">Neue Zukunft</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixforgigs.com/Event/59519/lambrini-girls-neue-zukunft-berlin" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 7, 2025</td>
                                    <td scope="col" class="col-sm-3">Stockholm, SE</td>
                                    <td scope="col" class="col-sm-3">Hus 7</td>
                                    <td scope="col" class="col-sm-3"><a href="https://billetto.se/en/e/lambrini-girls-hus-7-biljetter-1081831?rr=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 8, 2025</td>
                                    <td scope="col" class="col-sm-3">Oslo, NO</td>
                                    <td scope="col" class="col-sm-3">John Dee</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176957-lambrini-girls-at-john-dee?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 9, 2025</td>
                                    <td scope="col" class="col-sm-3">Gothenburg, SE</td>
                                    <td scope="col" class="col-sm-3">Pustervik</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tickster.com/se/sv/events/gyy11fyzjppwby5/2025-03-09/lambrini-girls" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 11, 2025</td>
                                    <td scope="col" class="col-sm-3">København, DK</td>
                                    <td scope="col" class="col-sm-3">Ideal Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.billetlugen.dk/en/event/lambrini-girls-uk-vega-19150052/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 13, 2025</td>
                                    <td scope="col" class="col-sm-3">Rotterdam, NL</td>
                                    <td scope="col" class="col-sm-3">Rotown</td>
                                    <td scope="col" class="col-sm-3"><a href="https://rotown.stager.co/web/tickets/111427402?utm_campaign=250313lambrinigirls&utm_source=website&utm_medium=ticketbutton" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 14, 2025</td>
                                    <td scope="col" class="col-sm-3">Amsterdam, NL</td>
                                    <td scope="col" class="col-sm-3">Melkweg</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.nl/event/309263?brand=nl_melkweg&_gl=1*1vsbe0d*_ga*MjA4NjczODQ3MC4xNzI3ODczOTg3*_ga_KFGKMS6566*MTcyNzg3Mzk4Ni4xLjAuMTcyNzg3Mzk4Ni4wLjAuMA.." target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 15, 2025</td>
                                    <td scope="col" class="col-sm-3">Eindhoven, NL</td>
                                    <td scope="col" class="col-sm-3">Effenar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176954-lambrini-girls-at-effenaar?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 17, 2025</td>
                                    <td scope="col" class="col-sm-3">Köln, DE</td>
                                    <td scope="col" class="col-sm-3">Bumann & Sohn</td>
                                    <td scope="col" class="col-sm-3"><a href="https://popanz.ticket.io/y4vxyfxu/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 19, 2025</td>
                                    <td scope="col" class="col-sm-3">Luxembourg, LU</td>
                                    <td scope="col" class="col-sm-3">Rotondes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.atelier.lu/shows/lambrini-girls/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 20, 2025</td>
                                    <td scope="col" class="col-sm-3">Reims, FR</td>
                                    <td scope="col" class="col-sm-3">Cartonnerie</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42185595-lambrini-girls-at-club-la-cartonnerie?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Mar 21, 2025</td>
                                    <td scope="col" class="col-sm-3">Rouen, FR</td>
                                    <td scope="col" class="col-sm-3">Le 106</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42178785-lambrini-girls-at-le-106?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 1, 2025</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">Fleece</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177164-lambrini-girls-at-fleece?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 2, 2025</td>
                                    <td scope="col" class="col-sm-3">Southampton, UK</td>
                                    <td scope="col" class="col-sm-3">Joiners</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177168-lambrini-girls-at-joiners?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 3, 2025</td>
                                    <td scope="col" class="col-sm-3">Birmingham, UK</td>
                                    <td scope="col" class="col-sm-3">Hare & Hounds</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177165-lambrini-girls-at-hare-and-hounds?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 4, 2025</td>
                                    <td scope="col" class="col-sm-3">Birkenhead, UK</td>
                                    <td scope="col" class="col-sm-3">Future Yard</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177142-lambrini-girls-at-future-yard?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 5, 2025</td>
                                    <td scope="col" class="col-sm-3">Dublin, IE</td>
                                    <td scope="col" class="col-sm-3">Whelan’s</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176823-lambrini-girls-at-whelans?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 7, 2025</td>
                                    <td scope="col" class="col-sm-3">York, UK</td>
                                    <td scope="col" class="col-sm-3">Crescent</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177171-lambrini-girls-at-crescent?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 8, 2025</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">Brudenell Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177032-lambrini-girls-at-brudenell-social-club?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 9, 2025</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">Stereo</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177166-lambrini-girls-at-stereo?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 10, 2025</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Gorilla</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177003-lambrini-girls-at-gorilla?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 11, 2025</td>
                                    <td scope="col" class="col-sm-3">Nottingham, UK</td>
                                    <td scope="col" class="col-sm-3">Bodega</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177031-lambrini-girls-at-bodega-social?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 12, 2025</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">Chalk</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42176993-lambrini-girls-at-chalk?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Apr 17, 2025</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Electric Brixton</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.songkick.com/concerts/42177428-lambrini-girls-at-electric-brixton?utm_source=54667&utm_medium=partner" target="_blank">Link</a></td>
                                    </tr>                                  
                            </tbody>
                        </table>
                     </div>

                     <div class="pup">
                        <button class="band pup">PUP</button>
                        <table class="table table-responsive pup-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                                </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 10, 2025</td>
                                    <td scope="col" class="col-sm-3">Victoria, BC</td>
                                    <td scope="col" class="col-sm-3">Save On Food Memorial Centre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://selectyourtickets.evenue.net/cgi-bin/ncommerce3/SEGetEventList?groupCode=V0110&linkID=rgp&shopperContext=&caller=&appCode=" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 11, 2025</td>
                                    <td scope="col" class="col-sm-3">Vancouver, BC</td>
                                    <td scope="col" class="col-sm-3">Rogers Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/1100602C82CE10C5" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 13, 2025</td>
                                    <td scope="col" class="col-sm-3">Kelowna, BC</td>
                                    <td scope="col" class="col-sm-3">Prospera Place</td>
                                    <td scope="col" class="col-sm-3"><a href="https://selectyourtickets.evenue.net/cgi-bin/ncommerce3/SEGetEventList?groupCode=K0113&linkID=rgp&shopperContext=&caller=&appCode=" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 16, 2025</td>
                                    <td scope="col" class="col-sm-3">Calgary, AB</td>
                                    <td scope="col" class="col-sm-3">Scotiabank Saddledome</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/1100602BBF2E1B91" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 17, 2025</td>
                                    <td scope="col" class="col-sm-3">Edmonton, AB</td>
                                    <td scope="col" class="col-sm-3">Rogers Place</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/1100602B930D12EF" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 18, 2025</td>
                                    <td scope="col" class="col-sm-3">Saskatoon, SK</td>
                                    <td scope="col" class="col-sm-3">SaskTel Centre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/1100602BD6201FA6" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 20, 2025</td>
                                    <td scope="col" class="col-sm-3">Winnipeg, MB</td>
                                    <td scope="col" class="col-sm-3">Canada Life Place</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/1100607576E70E11" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 23, 2025</td>
                                    <td scope="col" class="col-sm-3">St. Catharines, ON</td>
                                    <td scope="col" class="col-sm-3">Meridian Centre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/1000602BED142FD6" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 24, 2025</td>
                                    <td scope="col" class="col-sm-3">Ottawa, ON</td>
                                    <td scope="col" class="col-sm-3">Canadian Tire Centre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/3100602BD5992D8B" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 25, 2025</td>
                                    <td scope="col" class="col-sm-3">Laval, QC</td>
                                    <td scope="col" class="col-sm-3">Place Bell</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/3100602C91E319A4?lang=en-ca&brand=evenko" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 27, 2025</td>
                                    <td scope="col" class="col-sm-3">London, ON</td>
                                    <td scope="col" class="col-sm-3">Budweiser Gardens</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventticketscenter.com/sum-41-pup-gob-london-01-27-2025/6340471/t" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 28, 2025</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">Scotiabank Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/10006031C3F31DE9" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jan 28, 2025</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">Scotiabank Arena</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ca/event/1000602CC1792019" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                     </div>

                    <div class="sea">
                        <button class="band sea">Searows</button>
                        <table class="table table-responsive sea-table" style="display: none;">
                            <span class="no-dates-sea" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="pulp">
                        <button class="band pulp">Slow Pulp</button>
                        <table class="table table-responsive pulp-table" style="display: none;">
                            <span class="no-dates-pulp" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="speedy">
                        <button class="band speedy">Speedy Ortiz</button>
                        <table class="table table-responsive speedy-table" style="display: none;">
                            <span class="no-dates-speedy" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="tapir">
                        <button class="band tapir">Tapir!</button>
                        <table class="table table-responsive tapir-table" style="display: none;">
                            <span class="no-dates-tapir" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                     <div class="ultra">
                        <button class="band ultra">Ultra Q</button>
                        <table class="table table-responsive ultra-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 11, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Norwich, UK</td>
                                    <td scope="col" class="col-sm-3">The Waterfront</td>
                                    <td scope="col" class="col-sm-3"><a href=" https://www.ticketweb.uk/event/bad-nerves-the-waterfront-tickets/13682333?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkCWDP2VMxexxE0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 12, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">Chalk</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 14, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Birmingham, UK</td>
                                    <td scope="col" class="col-sm-3">Mama Roux’s</td>
                                    <td scope="col" class="col-sm-3"><a href=" https://www.ticketmaster.co.uk/bad-nerves-birmingham-14-12-2024/event/1F0060C7282D7C44?irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&awtrc=&clickId=Way0zgz-mxyKUttTASTxKRS%3AUkCWDPWRMxexxE0&camefrom=CFC_BUYAT_219208&ircid=7559" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 15, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Nottingham, UK</td>
                                    <td scope="col" class="col-sm-3">Rescue Rooms</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/bad-nerves-rescue-rooms-tickets/13667773?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkCWDPQBMxexxE0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 16, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Sheffield, UK</td>
                                    <td scope="col" class="col-sm-3">Leadmill</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 18, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">The Key Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/bad-nerves/the-key-club/3051776?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 19, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Gorilla</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.co.uk/event/bad-nerves-gorilla-18788919/?affiliate=BAN" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 20, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">King Tut’s Wah Wah Hut</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 21, 2024+</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">Thekla</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.com/event/bad-nerves/thekla/3052295?aff=id1bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ With Bad Nerves</td>
                                        </tr>                                      
                            </tbody>
                        </table>
                    </div>

                    <div class="water">
                        <button class="band water">Water From Your Eyes</button>
                        <table class="table table-responsive water-table" style="display: none;">
                            <span class="no-dates-water" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="wednesday">
                        <button class="band water">Wednesday (Solo)</button>
                        <table class="table table-responsive wednesday-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-sm-3">Date</td>
                                    <td scope="col" class="col-sm-3">City</td>
                                    <td scope="col" class="col-sm-3">Venue</td>
                                    <td scope="col" class="col-sm-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>                  
<tr>
    <td scope="col" class="col-sm-3">Dec 8, 2024</td>
    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
    <td scope="col" class="col-sm-3">First Unitarian Church</td>
    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/51627889/?clickref=1101lzZIdY3y" target="_blank">Link</a></td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 9, 2024</td>
    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
    <td scope="col" class="col-sm-3">Public Records</td>
    <td scope="col" class="col-sm-3">Sold Out</td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 10, 2024</td>
    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
    <td scope="col" class="col-sm-3">Public Records</td>
    <td scope="col" class="col-sm-3">Sold Out</td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 12, 2024</td>
    <td scope="col" class="col-sm-3">Somerville, MA</td>
    <td scope="col" class="col-sm-3">The Center for Arts at the Armory</td>
    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/682357/wednesday-solo-cryogeyser-solo-tickets/staticDetails?skin=boweryboston" target="_blank">Link</a></td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 13, 2024</td>
    <td scope="col" class="col-sm-3">Portland, ME</td>
    <td scope="col" class="col-sm-3">SPACE Gallery</td>
    <td scope="col" class="col-sm-3"><a href="https://space538.org/event/wednesday-cryogeyser-2024/" target="_blank">Link</a></td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 14, 2024</td>
    <td scope="col" class="col-sm-3">Amherst, MA</td>
    <td scope="col" class="col-sm-3">The Drake</td>
    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/thedrake/events/wednesday-solo-cryogeyser-solo--116978" target="_blank">Link</a></td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 15, 2024</td>
    <td scope="col" class="col-sm-3">Woodstock, NY</td>
    <td scope="col" class="col-sm-3">Levon Helm Studios</td>
    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/levonhelm/events/wednesday-solo-cryogeyser-solo--116973" target="_blank">Link</a></td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 17, 2024</td>
    <td scope="col" class="col-sm-3">Carrboro, NC</td>
    <td scope="col" class="col-sm-3">Cat’s Cradle, Back Room</td>
    <td scope="col" class="col-sm-3">Sold Out</td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 18, 2024</td>
    <td scope="col" class="col-sm-3">Atlanta, GA</td>
    <td scope="col" class="col-sm-3">The EARL</td>
    <td scope="col" class="col-sm-3"><a href="https://badearl.freshtix.com/events/wednesday-solo-the-earl" target="_blank">Link</a></td>
    </tr>
    <tr>
    <td scope="col" class="col-sm-3">Dec 19, 2024</td>
    <td scope="col" class="col-sm-3">Greensboro, NC</td>
    <td scope="col" class="col-sm-3">Flat Iron</td>
    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/36215295/wednesday-solocryogeyser-solo-greensboro-flat-iron?clickref=1011lzZjNqIR" target="_blank">Link</a></td>
    </tr>                    
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    <%- include('partials/footer') %>
</div>
<script type="text/javascript" src="js/buttonClick.js"></script>
</html>