<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
        <div class="container-fluid text-center">
            <h1>clients on tour</h1>
                <div class="tables table-responsive" style="border: none;">
                    
                    <div class="chastity">
                        <button class="band chastity">Chastity Belt</button>
                        <table class="table table-responsive chastity-table" style="display: none;">
                            <span class="no-dates-chastity" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                    <div class="cloud">
                        <button class="band cloud-button">Cloud Nothings</button>
                        <table class="table table-responsive cloud-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Aug 23, 2024</td>
                                    <td scope="col" class="col-sm-3">Torremolinos, ES</td>
                                    <td scope="col" class="col-sm-3">Canela Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.wegow.com/es/festivales/canela-party" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 19, 2024</td>
                                    <td scope="col" class="col-sm-3">Lakewood, OH</td>
                                    <td scope="col" class="col-sm-3">Mahall’s</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/nvvyxl-cloud-nothings-19th-oct-mahalls-lakewood-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q9NSzFLNbW0tDRIM7EvyEyxNTU2SE4ysjADAOziSxsuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Columbus, OH</td>
                                    <td scope="col" class="col-sm-3">Woodlands Tavern</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/xee9gl-cloud-nothings-20th-oct-woodlands-tavern-columbus-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1XdLTDVJM042ME%2BxMLIvyEyxNTU2SE4ysjADAPtnjxAuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Louisville, KY</td>
                                    <td scope="col" class="col-sm-3">Headliners Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/31516063/cloud-nothings-with-equipment-and-farmers-wife-louisville-headliners-music-hall?clickref=1101lyJzUqPA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Louisville, KY</td>
                                    <td scope="col" class="col-sm-3">Headliners Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/31516063/cloud-nothings-with-equipment-and-farmers-wife-louisville-headliners-music-hall?clickref=1101lyJzUqPA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Birmingham, AL</td>
                                    <td scope="col" class="col-sm-3">Saturn</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/cloud-nothings/609504?afflky=SaturnBirmingham" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Gainesville, FL</td>
                                    <td scope="col" class="col-sm-3"> The Fest 22, Bo Diddley Plaza </td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/BO-DIDDLEY-PLAZA-BOUNCING-SOULS-STREETLIGHT-MANIFESTO/610059?afflky=TheFest" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Richmond, VA</td>
                                    <td scope="col" class="col-sm-3">Richmond Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/52802166/cloud-nothings-wequiptmentfarmers-wife-richmond-richmond-music-hall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">Johnny Brenda’s</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/58510957/cloud-nothings10-years-of-here-and-nowhere-else-philadelphia-johnny-brendas?clickref=1101lyJzUMaS" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Asbury Park, NJ</td>
                                    <td scope="col" class="col-sm-3">The Wonder Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/000060D423C2A19D?irgwc=1&clickid=VZbTzW2xTxyKRHi3--3OizgiUkCxiyXlgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Baby’s All Right</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/t/1032302269?affil_code=js_cloudnothings.com&app_id=js_cloudnothings.com&came_from=242&utm_campaign=ticket&utm_medium=web&utm_source=widget" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Baby’s All Right</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/cloud-nothings/609379?afflky=BabysAllRightBrooklyn" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 3, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Greenville, SC</td>
                                    <td scope="col" class="col-sm-3">Radio Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://radioroom.freshtix.com/events/cloud-nothings-10-years-of-here-and-nowhere-else?utm_campaign=bit&utm_medium=referral&utm_source=bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 4, 2024 + </td>
                                    <td scope="col" class="col-sm-3">Atlanta, GA</td>
                                    <td scope="col" class="col-sm-3">The Eastern</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/564011/rise-against-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 5, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">Marathon Music Works</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/rise-against-marathon-music-works-tickets/13495854?pl=marathonmusicworks&irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxitVRgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 7, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Tulsa, OK</td>
                                    <td scope="col" class="col-sm-3">Cain’s Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/63804618/?clickref=1100lyHSmfIk" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 8, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Dallas, TX</td>
                                    <td scope="col" class="col-sm-3">House of Blues</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/rise-against-dallas-texas-11-08-2024/event/0C0060AADF9F6030?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxiv1RgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&impradname=Bandsintown&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 9, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Austin, TX</td>
                                    <td scope="col" class="col-sm-3">Stubb’s Waller Creek Amphitheater</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/3A0060A7BBA83A03?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxivRtgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 11, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Albuquerque, NM</td>
                                    <td scope="col" class="col-sm-3">Revel Entertainment Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.prekindle.com/event/94721-rise-against-albuquerque" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 13, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Garden City, ID</td>
                                    <td scope="col" class="col-sm-3">Revolution Concert House</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/1E0060A8CD04494C?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxiq09gWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 15, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Portland, OR</td>
                                    <td scope="col" class="col-sm-3">Roseland Theater</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/71636829/rise-against-portland-roseland-theater?clickref=1100lyHSmzQu" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 16, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Vancouver, BC</td>
                                    <td scope="col" class="col-sm-3">Harbour Event Centre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.showpass.com/rise-against/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 17, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Showbox SoDo</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/564555/rise-against-tickets?skin=showboxpresents" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 19, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Berkeley, CA</td>
                                    <td scope="col" class="col-sm-3">The UC Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/78974588/rise-against-berkeley-the-uc-theatre?clickref=1100lyHSmE2o" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 20, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Anaheim, CA</td>
                                    <td scope="col" class="col-sm-3">House of Blues Anaheim</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/rise-against-anaheim-california-11-20-2024/event/090060A8C40651D6?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxiqXdgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&impradname=Bandsintown&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">Zebulon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/k66xro-cloud-nothings-armlock-21st-nov-zebulon-los-angeles-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U9MMzAzTLNMsTBJtbQvyEyxNTU2SE4ysjADAGCc1UkuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 23, 2024</td>
                                    <td scope="col" class="col-sm-3">Las Vegas, NV</td>
                                    <td scope="col" class="col-sm-3">Sin Wave</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/g55wma-cloud-nothings-10-years-of-here-and-nowhere-else-23rd-nov-sinwave-las-vegas-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1S8yNjK0SDQyTTE1SLMvyEyxNTU2SE4ysjADAFGT9SouAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Denver, CO</td>
                                    <td scope="col" class="col-sm-3">Bluebird Theater</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/607346/cloud-nothings-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Fort Collins, CO</td>
                                    <td scope="col" class="col-sm-3">Aggie Theater</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/605684/cloud-nothings-with-armlock-farmers-wife-tickets?skin=aggietheatre" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Minneapolis, MN</td>
                                    <td scope="col" class="col-sm-3">7th Street Entry</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/606588/cloud-nothings-tickets?skin=firstavenue" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Empty Bottle</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-10-years-of-empty-bottle-tickets/13706683?pl=eb&irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxiMVNgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Dec 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Empty Bottle</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/cloud-nothings-10-years-of-empty-bottle-tickets/13706693?pl=eb&irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxiMStgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ with Rise Against</td>
                                    </tr>
                                </tbody>                         
                        </table>
                    </div>

                    <div class="frost">
                        <button class="band frost">Frost Children</button>
                        <table class="table table-responsive frost-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Capitol Hill Block Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/Capitol-Hill-Block-Party-2024/576717?afflky=CapitolHillBlockParty&sp=NNQ3QL&utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1720706291_bbf9edea54434b156e02ac819dc76042&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Frost Fest - Music Hall of Williamsburg</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/597788/danny-brown-performing-with-frost-children-tickets?skin=mhow" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 23, 2024</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Frost Fest – Rash Bar</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/8eemaw-frost-fest-23rd-aug-rash-bar-nyc-brooklyn-tickets?dice_id=3433834&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1S%2B1NDEyNLdItTQ0NgAA0q4nIiEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Austin, TX</td>
                                    <td scope="col" class="col-sm-3">Headliners Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/wafform.aspx?_act=eventtickets&_pky=610333&afflky=LEVITATION&utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1720706464_e571a00275873f2b542b594924e08227&AFF=aw" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                     </div>

                    <div class="robbins">
                        <button class="band robbins">J. Robbins</button>
                        <table class="table table-responsive robbins-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Sep 7, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Northampton, MA</td>
                                    <td scope="col" class="col-sm-3">The Iron Horse</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/dspshows/events/bob-mould-solo-electric-108206" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 8, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Portsmouth, NH</td>
                                    <td scope="col" class="col-sm-3">3S Artspace</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/bob-mould-solo-electric-w-j-robbins-tickets-926203959977?aff=aff0bandsintown&bit_userid=$%7Buser_id%7D&appId=wf_obozbhyq.pbz&comeFrom=242&artist_event_id=105659830" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 10, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Fall River, MA</td>
                                    <td scope="col" class="col-sm-3">Narrows Center For The Arts</td>
                                    <td scope="col" class="col-sm-3"><a href="https://narrowscenter.showare.com/eventperformances.asp?evt=41" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 11, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Old Saybrook, CT</td>
                                    <td scope="col" class="col-sm-3">Katharine Hepburn Cultural Arts Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.thekate.org/event/bob-mould-solo-electric/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 13, 2024 +</td>
                                    <td scope="col" class="col-sm-3">South Orange, NJ</td>
                                    <td scope="col" class="col-sm-3">South Orange Performing Arts Center</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.sopacnow.org/events/bob-mould-2024/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 14, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Elkton, MD</td>
                                    <td scope="col" class="col-sm-3">Elkton Music Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/7dd3g9-bob-mould-solo-electric-14th-sep-elkton-music-hall-elkton-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U8ztUw0t0w1TzQ3t7QvyEyxNTU2SE4ysjADANJjR6AuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 15, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Bethlehem, PA</td>
                                    <td scope="col" class="col-sm-3">Musicfest Cafe</td>
                                    <td scope="col" class="col-sm-3"><a href="https://secure.artsquest.org/Online/default.asp?BOparam::WScontent::loadArticle::permalink=BobMould&BOparam::WScontent::loadArticle::context_id=" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 18, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Ann Arbor, MI</td>
                                    <td scope="col" class="col-sm-3">The Ark</td>
                                    <td scope="col" class="col-sm-3"><a href="https://mutotix.umich.edu/5039/5040?queueittoken=e_commencement2023~q_00000000-0000-0000-0000-000000000000~ts_1720707347~ce_true~rt_disabled~h_49dce54cc8af063202eabba675165ac45120d22353b497eedc0844fdc1e5a84d" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 18, 2024 #</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">The Belasco</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/sunny-day-real-estate-diary-30th-los-angeles-california-10-18-2024/event/09006032D7C84711?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxidytgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 19, 2024 #</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">The Belasco</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/sunny-day-real-estate-diary-30th-los-angeles-california-10-19-2024/event/0900603A8C8C2358?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxidQhgWbyyo0&camefrom=CFC_BUYAT_5128861&impradid=5128861&REFERRAL_ID=tmfeedbuyat5128861&wt.mc_id=aff_BUYAT_5128861&utm_source=5128861-Google%20Events&impradname=Google%20Events&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"># with Sunny Day Real Estate</td>
                                        <td scope="col" class="col-sm-3">+ with Bob Mould</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="john">
                        <button class="band john">John</button>
                        <table class="table table-responsive john-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 13, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Signature Brew Haggerston</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/dy8qo-john-timestwo-london-13th-jul-signature-brew-haggerston-london-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1c8yTTVOM0s0MDJJNLMvyEyxNTU2SE4ysjADALxb8aAuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 21, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Bude, UK</td>
                                    <td scope="col" class="col-sm-3">The Wyldes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.thewyldescornwall.com/tickets/idles" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Crickhowell, UK</td>
                                    <td scope="col" class="col-sm-3">Green Man Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.greenman.net/tickets/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Tromsø, NO</td>
                                    <td scope="col" class="col-sm-3">Utførr Blårock</td>
                                    <td scope="col" class="col-sm-3"><a href="https://blarock.antitickets.com/event/utfoerr?fbclid=IwZXh0bgNhZW0CMTAAAR1tIU8Akf1prlP6R7XJm4lVXn_dICeKOZ8Ftp_QvtLoLJNILc_FYx4s1_8_aem_8Q4jLsFOhJ3a1HvebPyi4w" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Stockholm, SE</td>
                                    <td scope="col" class="col-sm-3">Hus 7</td>
                                    <td scope="col" class="col-sm-3"><a href="https://billetto.se/e/john-ultra-lover-hus-7-biljetter-1038701?fbclid=IwZXh0bgNhZW0CMTAAAR0LqSy4KDN0i1oD6evkj-ZMPYRziHeNfWyKT0Bk5bFHaBdGZY2gQVRuVRI_aem_RiuL8mALP3kprwrdho2jKw&rr=aHR0cHM6Ly93d3cuYmFuZHNpbnRvd24uY29tLw%3D%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Oct 11, 2024</td>
                                    <td scope="col" class="col-sm-3">Bordeaux, FR</td>
                                    <td scope="col" class="col-sm-3">Krakatoa</td>
                                    <td scope="col" class="col-sm-3"><a href="https://krakatoa.org/agenda/john-nerves-cosmopaark?fbclid=IwZXh0bgNhZW0CMTAAAR0z_ktGVDUktxtwrOl_v30fXldzvzKkHMzvTTB75zBukO16bEkeYGHTGKw_aem_9wU3RuWtLDAmZLcZzl6aaA" target="_blank">Link</a></td>
                                    </tr>            
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ with Idles</td>
                                    </tr>                      
                            </tbody>
                        </table>
                    </div>

                    <div class="lambrini">
                        <button class="band lambrini">Lambrini Girls</button>
                        <table class="table table-responsive lambrini-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 18, 2024</td>
                                    <td scope="col" class="col-sm-3">Cambridge, MA</td>
                                    <td scope="col" class="col-sm-3">Sonia Live Music Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/lambrini-girls-mulva-bricklayer-sonia-tickets/13361584?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxEx0FgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 19, 2024</td>
                                    <td scope="col" class="col-sm-3">New York, NY</td>
                                    <td scope="col" class="col-sm-3">The Sultan Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/o9vxr-lambrini-girls-ekko-astral-pons-19th-jul-the-sultan-room-new-york-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1c8xTUozSzU3TTNLM7EvyEyxNTU2SE4ysjADAFKgjbMuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 20, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Jersey City, NJ</td>
                                    <td scope="col" class="col-sm-3">White Eagle Hall</td>
                                    <td scope="col" class="col-sm-3">Sold Out</td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Washington, DC</td>
                                    <td scope="col" class="col-sm-3">DC9</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventbrite.com/e/lambrini-girls-tickets-866775618207?aff=aff0bandsintown&comeFrom=2510&artist_event_id=1031468343&bit_userid=31932125" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">Kung Fu Necktie</td>
                                    <td scope="col" class="col-sm-3"><a href="https://kungfunecktie.com/event/lambrini-girls-ekko-astral-kelsey-cork-and-the-swigs/kung-fu-necktie/philadelphia-pennsylvania/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 24, 2024</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">The Garrison</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/d7qn6-lambrini-girls-24th-jul-the-garrison-toronto-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U83NkgyMjNPMk02TLQvyEyxNTU2SE4ysjADAIqQCq8uAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 25, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Detroit, MI</td>
                                    <td scope="col" class="col-sm-3">The Majestic Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/amyl-and-the-sniffers-majestic-theatre-tickets/13548953?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxE2SRgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Milwaukee, WI</td>
                                    <td scope="col" class="col-sm-3">Vivarium</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/537544/lambrini-girls-tickets?cid=usaffbandsintown&aff=usaffbandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 27, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Sleeping Village</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/9n5gd-lambrini-girls-w-edging-freddie-sunshine-27th-jul-sleeping-village-chicago-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q8xN7Q0NrQ0SDVPSbYvyEyxNTU2SE4ysjADADhLPxIuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 28, 2024</td>
                                    <td scope="col" class="col-sm-3">St. Paul, MN</td>
                                    <td scope="col" class="col-sm-3">Turf Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/537452/lambrini-girls-tickets?cid=usaffbandsintown&aff=usaffbandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 30, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Lawrence, KS</td>
                                    <td scope="col" class="col-sm-3">The Granada Theater</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/81211544/amyl-the-sniffers-lawrence-the-granada" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 31, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Louisville, KY</td>
                                    <td scope="col" class="col-sm-3">The Mercury Lounge</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/amyl-and-the-sniffers-louisville-kentucky-07-31-2024/event/16006072F11F57AF?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxEw1nUR0pxM0&camefrom=CFC_BUYAT_5128861&impradid=5128861&REFERRAL_ID=tmfeedbuyat5128861&wt.mc_id=aff_BUYAT_5128861&utm_source=5128861-Google%20Events&impradname=Google%20Events&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 1, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Indianapolis, IN</td>
                                    <td scope="col" class="col-sm-3">Hi-Fi Annex</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.us/event/amyl-and-the-sniffers-hi-fi-annex/595238" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Cleveland, OH</td>
                                    <td scope="col" class="col-sm-3">Beachland Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/lambrini-girls-blossom-park-beachland-tavern-tickets/13370034?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxE10xgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 3, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Buffalo, NY</td>
                                    <td scope="col" class="col-sm-3">Babeville</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/asburyhall/events/amyl-and-the-sniffers-99421" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 5, 2024 +</td>
                                    <td scope="col" class="col-sm-3">South Burlington, VT</td>
                                    <td scope="col" class="col-sm-3">Higher Ground Ballroom</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/amyl-and-the-sniffers/594726?afflky=HigherGround&utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1720711282_83533cfba17d88ec62cf616f77d7c3c0&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 8, 2024</td>
                                    <td scope="col" class="col-sm-3">Vancouver, BC</td>
                                    <td scope="col" class="col-sm-3">Fox Cabaret</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.ca/event/lambrini-girls-with-waitless-the-fox-cabaret-tickets/13657203?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxE1WVgWbyyo0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">The Sunset Tavern</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/xgy8a-lambrini-girls-guests-9th-aug-the-sunset-tavern-seattle-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q9ITk5OtTQwtTAwT7MvyEyxNTU2SE4ysjADABzn%2BpQuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 10, 2024</td>
                                    <td scope="col" class="col-sm-3">Portland, OR</td>
                                    <td scope="col" class="col-sm-3">Mississippi Studios</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/87367102/lambrini-girls-portland-mississippi-studios" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 12, 2024</td>
                                    <td scope="col" class="col-sm-3">San Francisco, CA</td>
                                    <td scope="col" class="col-sm-3">Rickshaw Stop</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/lambrini-girls/594917?afflky=RickshawStop&source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 13, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Del Mar, CA</td>
                                    <td scope="col" class="col-sm-3">The Sound</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/amyl-and-the-sniffers-del-mar-california-08-13-2024/event/0A006074A2CD2C35?irgwc=1&clickid=33jzAuz-3xyKRa30qrT6uyWVUkCxE3U1gWbyyo0&camefrom=CFC_BUYAT_5128861&impradid=5128861&REFERRAL_ID=tmfeedbuyat5128861&wt.mc_id=aff_BUYAT_5128861&utm_source=5128861-Google%20Events&impradname=Google%20Events&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 14, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">The Fonda Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://link.seated.com/c872ad88-81b9-4d5d-aa57-823652a6e055" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 15, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Los Angeles, CA</td>
                                    <td scope="col" class="col-sm-3">The Fonda Theatre</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/537592/amyl-and-the-sniffers-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">The Leeds Festival – Bramham Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.co.uk/leeds-festival-2024-weekend-early-entry-leeds-21-08-2024/event/35005F16C34B396F?irgwc=1&utm_source=5128861-Google%20Events&utm_medium=affiliate&utm_campaign=5128861&awtrc=&clickId=Way0zgz-mxyKUttTASTxKRS%3AUkCxE3XhgWbyyo0&camefrom=CFC_BUYAT_5128861&ircid=7559" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Manchester Psych Fest</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/366bg-manchester-psych-fest-2024-31st-aug-various-venues-manchester-manchester-canvas-manchester-tickets?cid1=&cid2=41386706&pid=f5e6ac52&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Y9MtUxOsTAySDM2trRPzkwxsjUxNLYwMzcwUyvITLFNM001S0w2NQIAEID5RTwAAAA%3D" target="_blank">Link</a></td>
                                    </tr>         
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ with Amyl & The Sniffers</td>
                                    </tr>  
                            </tbody>
                        </table>
                     </div>

                    <div class="sea">
                        <button class="band sea">Searows</button>
                        <table class="table table-responsive sea-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Aug 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Happy Valley, OR</td>
                                    <td scope="col" class="col-sm-3">Pickathon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/t/105320893?came_from=2890&user_id=31932125&app_id=ggl_feed&utm_medium=web&utm_source=artist_event_page&utm_campaign=ticket_event&ticket_id=1941970122" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Happy Valley, OR</td>
                                    <td scope="col" class="col-sm-3">Pickathon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://pickathon.com/tickets/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Amsterdam, NL</td>
                                    <td scope="col" class="col-sm-3">Tolhuistuin</td>
                                    <td scope="col" class="col-sm-3"><a href="https://tickets.paradiso.nl/46256fc309784eb5b75f45b544c2a1b0" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Utrect, NL</td>
                                    <td scope="col" class="col-sm-3">EKKO</td>
                                    <td scope="col" class="col-sm-3"><a href="https://ekko.nl/event/searows/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Brussels, BE</td>
                                    <td scope="col" class="col-sm-3">Le Botanique</td>
                                    <td scope="col" class="col-sm-3"><a href="https://botanique.be/en/concert/searows-sophie-may-2024" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Paris, FR</td>
                                    <td scope="col" class="col-sm-3">La Maroquinerie</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/yo2yxr-searows-sophie-may-3rd-sep-la-maroquinerie-paris-tickets?source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 5, 2024</td>
                                    <td scope="col" class="col-sm-3">Bristol, UK</td>
                                    <td scope="col" class="col-sm-3">Thekla</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/mxbqok-searows-5th-sep-thekla-bristol-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U9JMrE0N0iyNDZLMrEvyEyxNTU2SE4ysjADAJwT6oguAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Manchester, UK</td>
                                    <td scope="col" class="col-sm-3">Manchester Academy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/yo2rvr-searows-6th-sep-manchester-academy-3-manchester-tickets?source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 7, 2024</td>
                                    <td scope="col" class="col-sm-3">Dublin, IE</td>
                                    <td scope="col" class="col-sm-3">The Button Factory</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.ie/searows-dublin-07-09-2024/event/180060A8B0573E14?clickId=UCawo3z-mxyKTZqTvfz4oyC2UkCxi%3AzlgWbyyo0&irgwc=1&utm_source=5128861-Google%20Events&utm_medium=affiliate&utm_campaign=5128861&ircid=7512&camefrom=CFC_BUYAT_5128861" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 9, 2024</td>
                                    <td scope="col" class="col-sm-3">Glasgow, UK</td>
                                    <td scope="col" class="col-sm-3">Òran Mór</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.co.uk/searows-glasgow-09-09-2024/event/360060CE9EA6286D?irgwc=1&utm_source=5128861-Google%20Events&utm_medium=affiliate&utm_campaign=5128861&awtrc=&clickId=Way0zgz-mxyKUttTASTxKRS%3AUkCxi%3AyhgWbyyo0&camefrom=CFC_BUYAT_5128861&ircid=7559" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 10, 2024</td>
                                    <td scope="col" class="col-sm-3">Leeds, UK</td>
                                    <td scope="col" class="col-sm-3">Brudenell Social Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.co.uk/noapp/event/18723294/?affiliate=GUK&source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 12, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Village Underground</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/l8a2bl-searows-12th-sep-village-underground-london-tickets?source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 13, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Village Underground</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/6d3qyb-searows-13th-sep-village-underground-london-tickets?source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 14, 2024</td>
                                    <td scope="col" class="col-sm-3">Brighton, UK</td>
                                    <td scope="col" class="col-sm-3">Chalk</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/yo2p22-searows-14th-sep-chalk-brighton-tickets?source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 16, 2024</td>
                                    <td scope="col" class="col-sm-3">Köln, DE</td>
                                    <td scope="col" class="col-sm-3">Gebäude 9</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/event/18694865/?affiliate=EGG&source=ea" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 17, 2024</td>
                                    <td scope="col" class="col-sm-3">Berlin, DE</td>
                                    <td scope="col" class="col-sm-3">Hole 44</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.eventim.de/event/searows-hole-44-18714780/?affiliate=GMD&utm_source=google&utm_medium=cpc&utm_campaign=ar_Weitere_Konzerte&utm_agid=162678542789&utm_term=searows%20berlin&creative=701049899506&device=c&placement=&gad_source=1&gclid=EAIaIQobChMItrLmr5ufhwMVTKhoCR03DAf_EAAYASAAEgK9BfD_BwE" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 18-21, 2024</td>
                                    <td scope="col" class="col-sm-3">Hamburg, DE</td>
                                    <td scope="col" class="col-sm-3">Reeperbahn Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticket-onlineshop.com/ols/reeperbahnfestival/en/festival/channel/shop/index" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Warsaw, PL</td>
                                    <td scope="col" class="col-sm-3">Niebo</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.pl/event/searows-bilety/36427?clickId=WDN1Mxz-jxyKTZqTvfz4oyC2UkCxi4xBgWbyyo0&irgwc=1&utm_source=Songkick&utm_medium=affiliate&utm_campaign=1234554&utm_content=1212555_8185" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                    </div>

                    <div class="pulp">
                        <button class="band pulp">Slow Pulp</button>
                        <table class="table table-responsive pulp-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Capitol Hill Block Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.capitolhillblockparty.com/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Lollapalooza, Grant Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.lollapalooza.com/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 6, 2024</td>
                                        <td scope="col" class="col-sm-3">Lakewood, OH</td>
                                        <td scope="col" class="col-sm-3">Mahall’s</td>
                                        <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/6y8e7-slow-pulp-6th-nov-mahalls-lakewood-tickets?dice_id=3015861&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fcxMzJPSTZISk5JtAAAi7looyEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 8, 2024</td>
                                        <td scope="col" class="col-sm-3">Amherst, MA</td>
                                        <td scope="col" class="col-sm-3">The Drake</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/thedrake/events/slow-pulp-103377" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 9, 2024</td>
                                        <td scope="col" class="col-sm-3">South Burlington, VT</td>
                                        <td scope="col" class="col-sm-3">Higher Ground Showcase Lounge</td>
                                        <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/slow-pulp/602598?afflky=HigherGround&utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1715440044_0c20709ab0642295a9ae799eceea8354&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 10, 2024</td>
                                        <td scope="col" class="col-sm-3">Boston, MA</td>
                                        <td scope="col" class="col-sm-3">Paradise Rock Club</td>
                                        <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/slow-pulp-boston-massachusetts-11-10-2024/event/010060A1DEA0664A?irgwc=1&clickid=RlexHx0-oxyKTd-Tl2Vor2VuUkHQnnQhgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&impradname=Seated&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 13, 2024</td>
                                        <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                        <td scope="col" class="col-sm-3">Union Transfer</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/554804/slow-pulp-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 14, 2024</td>
                                        <td scope="col" class="col-sm-3">New York, NY</td>
                                        <td scope="col" class="col-sm-3">Webster Hall</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/557563/slow-pulp-tickets?skin=websterhall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 17, 2024</td>
                                        <td scope="col" class="col-sm-3">Washington, DC</td>
                                        <td scope="col" class="col-sm-3">Howard Theatre</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/slow-pulp-free-range-howard-theatre-tickets/13482974?pl=howardtheatre&refid=artist" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 19, 2024</td>
                                        <td scope="col" class="col-sm-3">Pittsburgh, PA</td>
                                        <td scope="col" class="col-sm-3">Thunderbird Café & Music Hall</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/79454895/slow-pulp-pittsburgh-thunderbird-café-music-hall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 20, 2024</td>
                                        <td scope="col" class="col-sm-3">Indianapolis, IN</td>
                                        <td scope="col" class="col-sm-3">Hi-Fi Indy</td>
                                        <td scope="col" class="col-sm-3"><a href="https://link.seated.com/0d448d85-6db1-4a31-b48f-7caac4d8532a" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 23, 2024</td>
                                        <td scope="col" class="col-sm-3">Detroit, MI</td>
                                        <td scope="col" class="col-sm-3">El Club</td>
                                        <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/lpkkp-slow-pulp-23rd-nov-el-club-detroit-detroit-tickets?dice_id=3026518&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1a9MMja0sDQzTrE0SQMAI0H3nyEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>                           
                            </tbody>
                        </table>
                    </div>

                    <div class="speedy">
                        <button class="band speedy">Speedy Ortiz</button>
                        <table class="table table-responsive speedy-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 23, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Richmond, VA</td>
                                    <td scope="col" class="col-sm-3">The Canal Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.us/event/mary-timony-at-canal-club/586703" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 25, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Chattanooga, TN</td>
                                    <td scope="col" class="col-sm-3">JJ’s Bohemia</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/artist-rsvp/2072222?event_id=105212921&utm_campaign=event&utm_medium=api&app_id=squarespace-magnolia-silver&utm_source=public_api&came_from=267&spn=0&signature=ZZf9e19b147ca1cbdad1282c230b3e65dc2ad63f6db607d7a01e983f85b6cae8a5" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 26, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">The Blue Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/2qvvp-mary-timony-w-speedy-ortiz-26th-jul-the-blue-room-nashville-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fcyTzZLSUmxtDQ3TbMvyEyxNTU2SE4ysjADAGRftu0uAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 27, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Atlanta, GA</td>
                                    <td scope="col" class="col-sm-3">The Earl</td>
                                    <td scope="col" class="col-sm-3"><a href="https://badearl.freshtix.com/events/mary-timony-the-earl?utm_campaign=bit&utm_medium=referral&utm_source=bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 28, 2024 +</td>
                                    <td scope="col" class="col-sm-3">Asheville, NC</td>
                                    <td scope="col" class="col-sm-3">Eulogy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/ddbke-mary-timony-28th-jul-eulogy-asheville-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Xc3NksySEs1Tkkys7AvyEyxNTU2SE4ysjADALRwE%2BMuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">MilkBoy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/speedy-ortiz/590786?afflky=MilkBoy" target="_blank">Link</a></td>
                                    </tr>         
                                    <tr>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3"></td>
                                        <td scope="col" class="col-sm-3">+ with Mary Timony</td>
                                    </tr>                           
                            </tbody>
                        </table>
                    </div>

                    <div class="water">
                        <button class="band water">Water From Your Eyes</button>
                        <table class="table table-responsive water-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Pitchfork Music Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/Pitchfork-Music-Festival-2024/582695?afflky=PitchforkMusicFestival&sp=D8WJ3X" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 25, 2024</td>
                                    <td scope="col" class="col-sm-3">New York, NY</td>
                                    <td scope="col" class="col-sm-3">The Boat Show</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/the-boat-show-modelactriz-and-water-from-your-eyes/605205?afflky=BabysAllRightBrooklyn" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 31, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Barboza</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/569541/water-from-your-eyes-tickets?skin=barboza" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Happy Valley, OR</td>
                                    <td scope="col" class="col-sm-3">Pickathon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://pickathon.com/tickets/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 2, 2024</td>
                                    <td scope="col" class="col-sm-3">Happy Valley, OR</td>
                                    <td scope="col" class="col-sm-3">Pickathon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://pickathon.com/tickets/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 3, 2024</td>
                                    <td scope="col" class="col-sm-3">Tollard Royal, UK</td>
                                    <td scope="col" class="col-sm-3">End of the Road 2024</td>
                                    <td scope="col" class="col-sm-3"><a href="https://endoftheroadfestival.com" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 5, 2024</td>
                                    <td scope="col" class="col-sm-3">Utrecht, NL</td>
                                    <td scope="col" class="col-sm-3">Ekko</td>
                                    <td scope="col" class="col-sm-3"><a href="https://ekko.stager.co/web/tickets/111425423?_gl=1*tildgw*_ga*MTQ1MzI3ODE3OC4xNzIwNzA5OTM5*_ga_6LD6EN3YMH*MTcyMDcwOTkzOC4xLjAuMTcyMDcwOTk0MS4wLjAuMA.." target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 6, 2024</td>
                                    <td scope="col" class="col-sm-3">Heusden, NL</td>
                                    <td scope="col" class="col-sm-3">Misty Fields Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://shop.ticketbuy.nl/VQqarBn3/misty-fields-2024" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Nov 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Mexico City, MX</td>
                                    <td scope="col" class="col-sm-3">Corona Capital</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com.mx/artist/1608797?clickId=1oPWdTz-nxyKUttTASTxKRS%3AUkCxE0RZgWbyyo0&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&ircid=11559&camefrom=CFC_BUYAT_219208" target="_blank">Link</a></td>
                                    </tr>                                                                       
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    <%- include('partials/footer') %>
</div>
<script type="text/javascript" src="js/buttonClick.js"></script>
</html>