<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients on Tour</title>
        <link rel="stylesheet" href="tour.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
<div class="everything">
    <%- include('partials/header') %>
        <div class="container-fluid text-center">
            <h1>clients on tour</h1>
                <div class="tables table-responsive" style="border: none;">
                    
                    <div class="chastity">
                        <button class="band chastity">Chastity Belt</button>
                        <table class="table table-responsive chastity-table" style="display: none;">
                            <span class="no-dates-chastity" style="display: none;">No upcoming dates</span>
                        </table>
                     </div>

                    <div class="cloud">
                        <button class="band cloud-button">Cloud Nothings</button>
                        <table class="table table-responsive cloud-table" style="display: none;">
                            <span class="no-dates-cloud" style="display: none;">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="robbins">
                        <button class="band robbins">J. Robbins</button>
                        <table class="table table-responsive robbins-table" style="display: none;">
                            <span class="no-dates-robbins">No upcoming dates</span>
                        </table>
                    </div>

                    <div class="john">
                        <button class="band john">John</button>
                        <table class="table table-responsive john-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 13, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Signature Brew Haggerston</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/dy8qo-john-timestwo-london-13th-jul-signature-brew-haggerston-london-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1c8yTTVOM0s0MDJJNLMvyEyxNTU2SE4ysjADALxb8aAuAAAA" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">Jul 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Bude, UK</td>
                                    <td scope="col" class="col-sm-3">The Wyldes</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.thewyldescornwall.com/tickets/idles" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="col-sm-3">Aug 15, 2024</td>
                                    <td scope="col" class="col-sm-3">Crickhowell, UK</td>
                                    <td scope="col" class="col-sm-3">Green Man Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.greenman.net/tickets/" target="_blank">Link</a></td>
                                </tr>   
                            </tbody>
                        </table>
                    </div>

                    <div class="sea">
                        <button class="band sea">Searows</button>
                        <table class="table table-responsive sea-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Lincoln Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://lh-st.com/shows/06-20-2024-searows/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 22, 2024</td>
                                    <td scope="col" class="col-sm-3">Toronto, ON</td>
                                    <td scope="col" class="col-sm-3">Great Hall</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/nxg59-searows-22nd-jun-the-great-hall-toronto-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1U9ONbIwSjMxMEszS7QvyEyxNTU2SE4ysjADAK8bUfEuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 23, 2024</td>
                                    <td scope="col" class="col-sm-3">Montreal, QC</td>
                                    <td scope="col" class="col-sm-3">Petit Campus</td>
                                    <td scope="col" class="col-sm-3"><a href="https://lepointdevente.com/billets/240623-searows-montreal-june-23-2024" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Music Hall of Williamsburg</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/535299/searows-tickets?skin=mhow" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Boston, MA</td>
                                    <td scope="col" class="col-sm-3">The Sinclair</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/536070/searows-tickets?skin=sinclair" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Washington, DC</td>
                                    <td scope="col" class="col-sm-3">The Atlantis</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketmaster.com/event/1500606E8E541B0A?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHQn3z5gWbU0g0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&utm_source=219208-Bandsintown&impradname=Bandsintown&utm_medium=affiliate&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 29, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">The Foundry</td>
                                    <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/searows-philadelphia-pennsylvania-06-29-2024/event/0200608A97DF1D8C?irgwc=1&clickid=T7z3N-SvixyPRD8SnswZE109UkHQn31FgWbU0g0&camefrom=CFC_BUYAT_219208&impradid=219208&REFERRAL_ID=tmfeedbuyat219208&wt.mc_id=aff_BUYAT_219208&impradname=Bandsintown&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Brooklyn, NY</td>
                                    <td scope="col" class="col-sm-3">Music Hall of Williamsburg</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/537859/searows-tickets?skin=mhow" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Happy Valley, OR</td>
                                    <td scope="col" class="col-sm-3">Pickathon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://pickathon.com/tickets/" target="_blank">Link</a></td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pulp">
                        <button class="band pulp">Slow Pulp</button>
                        <table class="table table-responsive pulp-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 20, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">Koko</td>
                                    <td scope="col" class="col-sm-3"><a href="https://formpresents.seetickets.com/event/slow-pulp/koko/2843326?utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1713016912_2c42a13c81a496f02b14dae2fd59ff6e&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 21, 2024</td>
                                    <td scope="col" class="col-sm-3">Seattle, WA</td>
                                    <td scope="col" class="col-sm-3">Capitol Hill Block Party</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.capitolhillblockparty.com/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Lollapalooza, Grant Park</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.lollapalooza.com/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 6, 2024</td>
                                        <td scope="col" class="col-sm-3">Lakewood, OH</td>
                                        <td scope="col" class="col-sm-3">Mahall’s</td>
                                        <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/6y8e7-slow-pulp-6th-nov-mahalls-lakewood-tickets?dice_id=3015861&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fcxMzJPSTZISk5JtAAAi7looyEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 8, 2024</td>
                                        <td scope="col" class="col-sm-3">Amherst, MA</td>
                                        <td scope="col" class="col-sm-3">The Drake</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.tixr.com/groups/thedrake/events/slow-pulp-103377" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 9, 2024</td>
                                        <td scope="col" class="col-sm-3">South Burlington, VT</td>
                                        <td scope="col" class="col-sm-3">Higher Ground Showcase Lounge</td>
                                        <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/slow-pulp/602598?afflky=HigherGround&utm_source=awin&utm_medium=affiliate&utm_campaign=546767&utm_content=Comparison+Engine&sv1=affiliate&sv_campaign_id=546767&awc=7816_1715440044_0c20709ab0642295a9ae799eceea8354&AFF=aw" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 10, 2024</td>
                                        <td scope="col" class="col-sm-3">Boston, MA</td>
                                        <td scope="col" class="col-sm-3">Paradise Rock Club</td>
                                        <td scope="col" class="col-sm-3"><a href="https://concerts.livenation.com/slow-pulp-boston-massachusetts-11-10-2024/event/010060A1DEA0664A?irgwc=1&clickid=RlexHx0-oxyKTd-Tl2Vor2VuUkHQnnQhgWbU0g0&camefrom=CFC_BUYAT_1387536&impradid=1387536&REFERRAL_ID=tmfeedbuyat1387536&wt.mc_id=aff_BUYAT_1387536&impradname=Seated&ircid=4272" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 13, 2024</td>
                                        <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                        <td scope="col" class="col-sm-3">Union Transfer</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/554804/slow-pulp-tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 14, 2024</td>
                                        <td scope="col" class="col-sm-3">New York, NY</td>
                                        <td scope="col" class="col-sm-3">Webster Hall</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.axs.com/events/557563/slow-pulp-tickets?skin=websterhall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 17, 2024</td>
                                        <td scope="col" class="col-sm-3">Washington, DC</td>
                                        <td scope="col" class="col-sm-3">Howard Theatre</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.com/event/slow-pulp-free-range-howard-theatre-tickets/13482974?pl=howardtheatre&refid=artist" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 19, 2024</td>
                                        <td scope="col" class="col-sm-3">Pittsburgh, PA</td>
                                        <td scope="col" class="col-sm-3">Thunderbird Café & Music Hall</td>
                                        <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/79454895/slow-pulp-pittsburgh-thunderbird-café-music-hall" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 20, 2024</td>
                                        <td scope="col" class="col-sm-3">Indianapolis, IN</td>
                                        <td scope="col" class="col-sm-3">Hi-Fi Indy</td>
                                        <td scope="col" class="col-sm-3"><a href="https://link.seated.com/0d448d85-6db1-4a31-b48f-7caac4d8532a" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                        <td scope="col" class="col-sm-3">Nov 23, 2024</td>
                                        <td scope="col" class="col-sm-3">Detroit, MI</td>
                                        <td scope="col" class="col-sm-3">El Club</td>
                                        <td scope="col" class="col-sm-3"><a href="https://dice.fm/partner/dice/event/lpkkp-slow-pulp-23rd-nov-el-club-detroit-detroit-tickets?dice_id=3026518&dice_channel=web&dice_tags=organic&dice_campaign=DICE&dice_feature=mio_marketing&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1a9MMja0sDQzTrE0SQMAI0H3nyEAAAA%3D" target="_blank">Link</a></td>
                                    </tr>                           
                            </tbody>
                        </table>
                    </div>

                    <div class="speedy">
                        <button class="band speedy">Speedy Ortiz</button>
                        <table class="table table-responsive speedy-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 23, 2024</td>
                                    <td scope="col" class="col-sm-3">Richmond, VA</td>
                                    <td scope="col" class="col-sm-3">The Canal Club</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.seetickets.us/event/mary-timony-at-canal-club/586703" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 25, 2024</td>
                                    <td scope="col" class="col-sm-3">Chattanooga, TN</td>
                                    <td scope="col" class="col-sm-3">JJ’s Bohemia</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.bandsintown.com/artist-rsvp/2072222?event_id=105212921&utm_campaign=event&utm_medium=api&app_id=squarespace-magnolia-silver&utm_source=public_api&came_from=267&spn=0&signature=ZZf9e19b147ca1cbdad1282c230b3e65dc2ad63f6db607d7a01e983f85b6cae8a5" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 26, 2024</td>
                                    <td scope="col" class="col-sm-3">Nashville, TN</td>
                                    <td scope="col" class="col-sm-3">The Blue Room</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/2qvvp-mary-timony-w-speedy-ortiz-26th-jul-the-blue-room-nashville-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1fcyTzZLSUmxtDQ3TbMvyEyxNTU2SE4ysjADAGRftu0uAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 27, 2024</td>
                                    <td scope="col" class="col-sm-3">Atlanta, GA</td>
                                    <td scope="col" class="col-sm-3">The Earl</td>
                                    <td scope="col" class="col-sm-3"><a href="https://badearl.freshtix.com/events/mary-timony-the-earl?utm_campaign=bit&utm_medium=referral&utm_source=bandsintown" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Asheville, NC</td>
                                    <td scope="col" class="col-sm-3">Eulogy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://dice.fm/event/ddbke-mary-timony-28th-jul-eulogy-asheville-tickets?pid=530cb286&_branch_match_id=1211309051164893202&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Xc3NksySEs1Tkkys7AvyEyxNTU2SE4ysjADALRwE%2BMuAAAA" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 30, 2024</td>
                                    <td scope="col" class="col-sm-3">Philadelphia, PA</td>
                                    <td scope="col" class="col-sm-3">MilkBoy</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/speedy-ortiz/590786?afflky=MilkBoy" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                    </div>

                    <div class="water">
                        <button class="band water">Water From Your Eyes</button>
                        <table class="table table-responsive water-table" style="display: none;">
                            <thead>
                                <tr>
                                    <td scope="col" class="col-md-3">Date</td>
                                    <td scope="col" class="col-md-3">City</td>
                                    <td scope="col" class="col-md-3">Venue</td>
                                    <td scope="col" class="col-md-3">Tickets</td>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 28, 2024</td>
                                    <td scope="col" class="col-sm-3">Woodstock, NY</td>
                                    <td scope="col" class="col-sm-3">Bearsville Theater</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.etix.com/ticket/p/51098318/ratboys-water-from-your-eyes-new-york-bearsville-theater?clickref=1101lyw4gVcs" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 29, 2024</td>
                                    <td scope="col" class="col-sm-3">North Adams, MA</td>
                                    <td scope="col" class="col-sm-3">Mass MoCA</td>
                                    <td scope="col" class="col-sm-3"><a href="https://solidsound.frontgatetickets.com" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jun 30, 2024</td>
                                    <td scope="col" class="col-sm-3">North Adams, MA</td>
                                    <td scope="col" class="col-sm-3">Mass MoCA</td>
                                    <td scope="col" class="col-sm-3"><a href="https://solidsound.frontgatetickets.com" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 4, 2024</td>
                                    <td scope="col" class="col-sm-3">Roskilde, DK</td>
                                    <td scope="col" class="col-sm-3">Roskilde Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.roskilde-festival.dk/en/tickets" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 19, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Pitchfork Music Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/Pitchfork-Music-Festival-2024/582695?afflky=PitchforkMusicFestival&sp=D8WJ3X" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Jul 20, 2024</td>
                                    <td scope="col" class="col-sm-3">Chicago, IL</td>
                                    <td scope="col" class="col-sm-3">Pitchfork Music Festival</td>
                                    <td scope="col" class="col-sm-3"><a href="https://wl.seetickets.us/event/Pitchfork-Music-Festival-2024/582695?afflky=PitchforkMusicFestival&sp=D8WJ3X" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Aug 1, 2024</td>
                                    <td scope="col" class="col-sm-3">Happy Valley, OR</td>
                                    <td scope="col" class="col-sm-3">Pickathon</td>
                                    <td scope="col" class="col-sm-3"><a href="https://pickathon.com/tickets/" target="_blank">Link</a></td>
                                    </tr>
                                    <tr>
                                    <td scope="col" class="col-sm-3">Sep 3, 2024</td>
                                    <td scope="col" class="col-sm-3">London, UK</td>
                                    <td scope="col" class="col-sm-3">ICA</td>
                                    <td scope="col" class="col-sm-3"><a href="https://www.ticketweb.uk/event/water-from-your-eyes-ica-tickets/13427414?REFERRAL_ID=tmfeed&irgwc=1&utm_source=219208-Bandsintown&utm_medium=affiliate&utm_campaign=219208&clickId=SSRwlYTNIxyPUTXQyJQWHwKVUkHQlgUdgWbU0g0" target="_blank">Link</a></td>
                                    </tr>                                    
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    <%- include('partials/footer') %>
</div>
<script type="text/javascript" src="js/buttonClick.js"></script>
</html>