.everything {
    background: #979797;
    color: white;
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.touch {
    display: block;
    margin-top: 2em;
    margin-bottom: 5em;
    padding-bottom: 4em;
}

.footer .all {
    border-top: 1px solid white;
}

.navbar .all {
    border-bottom: 1px solid white;
}

@media screen and (max-width: 1024)  {
    html {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .footer {
        margin-top: 5em;
    }

    .touch {
        padding-top: 3em;
    }
}

@media screen and (min-width: 1025px) {
    html {
        overflow-x: hidden;
    }

    .touch {
        width: 75%;
        margin-left: 12.5%;
        margin-top: 1em;
    }

    h1 {
        transform: rotate(-90deg);
        position: absolute;
        top: 2.2em;
        left: -1em;
        font-size: 3.5em !important;
    }
}