body {
  font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
  padding: 0 !important;
}

.dropdown {
  display: none;
}

.navbar-btn {
  padding: .25em !important;
  background: #D9D9D9;
}

.btn-lg {
  color: black;
}

#dropdownMenuButton {
  background: #B6CC38;
  margin: .5em;
  padding: .5em;
}

.navbar .container-fluid button a {
  color: black;
  font-weight: 400;
  font-size: 1.3em;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  width: 100%;
  background: black;
}

.logo-full {
  width: 50%;
}

.navbar {
  border-bottom: solid 1px gray !important;
}

.navbar-left {
  margin-left: 1em;
}

@media screen and (max-width: 1024px) {
  .dropdown {
    display: inline;
  }

  .dropdown-menu ul {
    margin-left: 1em;
  }

  .dropdown-menu a {
    color: black;
  }

  .background {
    background: black;
  }

  .navbar {
    display: none;
  }

  .logo-full {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}