body {
    background: #464141;
    color: white;
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

p, h1 {
    text-align: center;
    margin-top: 50px;
}

article {
     margin-bottom: 5%;
}

.privacy {
    margin-top: 10px;
}

header .logo {
    height: 118px;
    margin-top: 6px;
}