.everything {
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
    background: #464141;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 3em;
}

.row {
    margin: 0;
    padding: 0;
}

.our-services,
.for-fans {
    background: #B6CC38;
}

.our-services a,
.for-fans a {
    color: black;
}

.main-text {
    margin-top: 3em;
}

.bottom-text {
    margin-top: 2em;
}

.footer {
    margin-top: 5em;
}

/* phones */

@media screen and (min-width: 0px) and (max-width: 480px) {
    .background-guitar {
        display: none;
        margin: 0;
        padding: 0;
    }
}

/* iPad */

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .background-guitar {
        display: none;
        margin: 0;
        padding: 0;
    }

    .footer {
        margin-top: 4em;
    }

    .everything {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    html {
        overflow-x: hidden;
    }

    .our-services,
    .for-fans {
        padding: 2em 5em !important;
    }

    .our-services a,
    .for-fans a {
        font-weight: 700;
        font-size: 1.5em;
    }

    p {
        font-size: 1.3em;
    }

    h1 {
        font-size: 3.5em !important;
    }

    .background-guitar {
        position: absolute;
        left: 50%;
        bottom: .9%;
    }

    .bottom-text {
        z-index: 1 !important;
    }

}