.everything {
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
    background: #464141;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 3em;
}

.row {
    margin: 0;
    padding: 0;
}

.main-text {
    margin-top: 3em;
}

.bottom-text {
    margin-top: 3em;
}

.footer {
    margin-top: 5em;
}

/* phones */

@media screen and (min-width: 0px) and (max-width: 480px) {
    .background-guitar {
        display: none;
        margin: 0;
        padding: 0;
    }
}

/* iPad */

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .background-guitar {
        display: none;
        margin: 0;
        padding: 0;
    }

    .footer {
        margin-top: 4em;
    }

    .everything {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    html {
        overflow-x: hidden;
    }

    p {
        font-size: 1.3em;
    }

    h1 {
        font-size: 4em !important;
    }

    .background-guitar {
        position: absolute;
        left: 50%;
        bottom: 6.3%;
        z-index: 0;
    }

    .main-text .row {
        z-index: 1;
    }

}