header {
    background: #000000;
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 160px;
    margin-top: -15px;
    border-bottom: solid 1px gray;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    display: flex;
    text-decoration: none;
    color: black;
    background: #D9D9D9;
    border-radius: 5px;
    padding: 5px;
}

.logo {
    height: 110px;
    margin-top: 21px;
    margin-left: 0px;
}

.leftlinks {
    display: flex;
    gap: 35px;
    margin-top: 55px;
    font-size: 1.5em;
    margin-left: 20px;
}

.rightlinks {
    display: flex;
    gap: 50px;
    margin-top: 55px;
    margin-right: 60px;
    font-size: 1.5em;
}

.logo {
    margin-right: 120px;
}

.logo-a {
    background: none;
}