body {
    background: #979797;
    color: white;
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.background-image {
    background-image: url('assets/plane.png');
    background-repeat: no-repeat;
    background-position: 55% 70%;
    background-size: 750px;
}

.tophalf, .bottomhalf {
    display: flex;
}

.detail {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 30px;
    align-items: center;
    text-align: center;
    background: rgba(70,65,65,.9);
    border-radius: 10px;
    box-shadow: 4px 4px rgba(70,65,80,.5);
    padding: 10px;
}

.bottomhalf {
    gap: 100px;
    margin-left: 250px;
    margin-top: 75px;
    margin-bottom: 25px;
}

.get {
    background: none;
    color: white;
}

.guitar-image {
    position: absolute;
    margin-top: -100em;
    margin-left: 10em;
    z-index: -1;
}

.guitar-image-bottom {
    position: absolute;
    transform: rotate(85deg);
    margin-top: 5em;
    z-index: -1;
    margin-left: 60em;
}

.detail-top {
    display: flex;
    width: 40%;
    align-items: center;
    text-align: center;
    background: rgba(70,65,65,.9);
    border-radius: 10px;
    padding: 30px 60px;
    box-shadow: 4px 4px rgba(70,65,80,.5);
}

.how-it-works {
    margin-left: 80%;
    position: absolute;
    top: 25%;
}

.tophalf {
    gap: 500px;
    margin-left: 150px;
    margin-top: 40px;
}

header .logo {
    height: 118px;
    margin-top: 6px;
}

.header {
    border-bottom: solid 1px #B6CC38;
}

@media screen and (max-width: 480px)  { 

    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .header .leftlinks {
        display: none;
    }

    .header .rightlinks {
        display: none;
    }

    .header {
        height: 200px;
    }

    .header .middlelinks {
        margin-left: 85px;
        margin-top: 20px;
    }

    .header .logo {
        height: 130px;
        width: 170px;
        padding: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-top: 5em;
        font-size: .8em;
    }

    .footer .rightfooter {
        margin-left: 60%;
    }

    .footer .middlefooter {
        margin-left: .5em;
    }

    .guitar-image,
    .background-image,
    .guitar-image-bottom {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    
    .topnav {
        display: none;
    }

    .header .leftlinks {
        display: flex;
        align-items: center;
        margin-left: -.5em;
    }

    .header .rightlinks {
        display: flex;
        align-items: center;
        margin-right: 4em;
    }

    .header {
        height: 200px;
    }

    .header .middlelinks {
        display: flex;
        margin-left: 1em;
        align-items: center;
    }

    .header .leftlinks,
    .header .rightlinks,
    .header .middlelinks {
        margin-top: 2em;
    }

    .header .logo {
        height: 130px;
        width: 170px;
        padding: 0;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 200px;
        margin-top: 17em;
        font-size: .8em;
    }

    .footer .middlefooter {
        justify-content: center;
        margin-bottom: 3.5em;
    }

    .footer .leftfooter,
    .footer .middlefooter {
        margin-top: 3em;
    }

    section {
        display: none;
    }
    
}