.everything {
    background: #464141;
    color: white;
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

article {
    width: 75%;
    margin-left: 12.5%;
}

.jeff {
    color: white;
    background: none;
}

.home {
    margin-left: 85%;
}

@media screen and (max-width: 1024px)  {

    html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background: #464141;
    }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        font-size: .8em;
    }
}

