.everything {
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(20deg, #464141 60%, #312D2D 60%);
    color: #D9D9D9;
}

h1 {
    position: absolute;
    transform: rotate(-90deg);
    font-size: 3.5em !important;
    top: 7em;
}

button {
    border: none;
    padding: .5em;
    border-radius: 1em;
}

button a {
    text-align: center;
    color: #B6CC38;
}

button a:hover {
    color: #D9D9D9;
}

.band {
    color: #B6CC38;
    margin-bottom: 1em;
    background: black;
    font-size: 2em;
}

td > a {
    color: #B6CC38;
}

td > a:hover {
    color: #D9D9D9;
}

.table, .tables {
    background: black;
    margin: auto;
    width: 50%;
    padding: 1em;
    border-radius: .5em;
    margin-top: 3rem;
}

.table-responsive {
    border: none;
}

.footer {
    margin-top: 15em;
}

.speedy-table {
    margin-top: 0;
}

.disintegration-table {
    margin-top: 0;
}

.john-table {
    margin-top: 0;
}

.cloud-table {
    margin-top: 0;
}

.chastity-table {
    margin-top: 0;
}

.frost-table {
    margin-top: 0;
}

.robbins-table {
    margin-top: 0;
}

.lambrini-table {
    margin-top: 0;
}

.pulp-table {
    margin-top: 0;
}

.pup-table {
    margin-top: 0;
}

.water-table {
    margin-top: 0;
}

.sea-table {
    margin-top: 0;
}

.butcher-table {
    margin-top: 0;
}

.mj-table {
    margin-top: 0;
}

.ultra-table {
    margin-top: 0;
}

.tapir-table {
    margin-top: 0;
}

.julia-table {
    margin-top: 0;
}

.genn-table {
    margin-top: 0;
}

.no-dates-robbins {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 1024px)  { 
    h1 {
        display: none;
    }

    header {
        margin-bottom: 1em;
    }

    .band {
        font-size: 1.8em;
    }

    .footer {
        margin-top: 10em;
    }

    .table-responsive {
        margin-top: 0em;
        border: none !important;
    }

    .speedy-table {
        margin-top: 0;
    }

    .pup-table {
        margin-top: 0;
    }

    .ultra-table {
        margin-top: 0;
    }

    .disintegration-table {
        margin-top: 0;
    }
    
    .john-table {
        margin-top: 0;
    }

    .tapir-table {
        margin-top: 0;
    }
    
    .cloud-table {
        margin-top: 0;
    }

    .frost-table {
        margin-top: 0;
    }

    .chastity-table {
        margin-top: 0;
    }

    .robbins-table {
        margin-top: 0;
    }

    .lambrini-table {
        margin-top: 0;
    }

    .pulp-table {
        margin-top: 0;
    }

    .julia-table {
        margin-top: 0;
    }

    .genn-table {
        margin-top: 0;
    }

    .water-table {
        margin-top: 0;
    }

    .sea-table {
        margin-top: 0;
    }

    .butcher-table {
        margin-top: 0;
    }

    .mj-table {
        margin-top: 0;
    }
}