.everything {
    font-family: 'Kumbh Sans', Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(20deg, #464141 60%, #312D2D 60%);
    color: #D9D9D9;
}

h1 {
    position: absolute;
    transform: rotate(-90deg);
    font-size: 3.5em !important;
    top: 7em;
}

button {
    border: none;
    border-radius: 1em;
}

button a {
    text-align: center;
    color: #B6CC38;
}

button a:hover {
    color: #D9D9D9;
}

.band {
    color: #B6CC38;
    background: black;
    font-size: 4em;
    text-transform: uppercase;
}

td > a {
    color: #B6CC38;
}

td > a:hover {
    color: #D9D9D9;
}

.tables {
    background: black;
    margin: auto;
    width: 50%;
    padding: 1em;
    border-radius: .5em;
    margin-top: 3rem;
}

.table-responsive {
    border: none;
}

.footer {
    margin-top: 15em;
}

.bandcamp {
    color: #B6CC38;
}

h2 {
    padding-top: 15rem;
}

@media screen and (min-width: 0px) and (max-width: 1024px)  { 
    h1 {
        display: none;
    }

    header {
        margin-bottom: 1em;
    }

    .band {
        font-size: 2.5em;
    }

    .footer {
        margin-top: 10em;
    }

    .table-responsive {
        margin-top: 0em;
        border: none !important;
    }

    .fifteen {
        margin-top: 0em;
    }
    
    .billie {
        margin-top: 1em;
    }

    .bruit {
        margin-top: 1em;
    }
    
    .butcher {
        margin-top: 1em;
    }
    
    .chastity {
        margin-top: 1em;
    }
    
    .cloud {
        margin-top: 1em;
    }
    
    .disintegration {
        margin-top: 1em;
    }
    
    .frost {
        margin-top: 1em;
    }
    
    .genn {
        margin-top: 1em;
    }
    
    .robbins {
        margin-top: 1em;
    }
    
    .john {
        margin-top: 1em;
    }
    
    .julia {
        margin-top: 1em;
    }

    .kent {
        margin-top: 1em;
    }
    
    .lambrini {
        margin-top: 1em;
    }
    
    .lysistrata {
        margin-top: 1em;
    }
    
    .mj {
        margin-top: 1em;
    }

    .model {
        margin-top: 1em;
    }
    
    .pup {
        margin-top: 1em;
    }
    
    .roller {
        margin-top: 1em;
    }
    
    .sea {
        margin-top: 1em;
    }
    
    .pulp {
        margin-top: 1em;
    }

    .snooper {
        margin-top: 1em;
    }
    
    .speedy {
        margin-top: 1em;
    }
    
    .spits {
        margin-top: 1em;
    }

    .suuns {
        margin-top: 1em;
    }
    
    .tapir {
        margin-top: 1em;
    }
    
    .thus {
        margin-top: 1em;
    }
    
    .ultra {
        margin-top: 1em;
    }
    
    .water {
        margin-top: 1em;
    }
    
    .wednesday {
        margin-top: 1em;
    }
}